.acme-sc-assignment-data-container {
    background-color: whitesmoke;
    border-radius: 0.4vw;
    padding:0.4vw;
    
}

.acme-sc-server-response-message {
    font-size: 1.2vw;
}

.UserInfoCircle {
    width: 5vw;
    height:5vw;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    background: lightgray;
}