@import '../../../shared/css/commom.scss';
@import '../../../shared/css/variables.scss';


.dark-theme {
    .acme-sc-custom-label {
        color:yellowgreen;
    }
    .acme-sc-assignment-data-container {
        background-color: #333333;
        border-radius: 0.4vw;
        padding:0.4vw;
        
    }
    ::ng-deep .ql-editor {
        color:$acme-sc-text-color-dark !important;
    }
}

.light-theme {
    .acme-sc-custom-label {
        color:$acme-sc-start-color;
    }
    .acme-sc-assignment-data-container {
        background-color: $acme-sc-room-inactive-background-color;
        border-radius: 0.4vw;
        padding:0.4vw;
        
    }
    ::ng-deep .ql-editor {
        color:black !important;
    }
}
