<div fxFlexFill fxLayout="column" class="acme-sc-navigation-side-bar">
    <div fxFlex="20vh" fxFill>
        <acme-sc-company-header></acme-sc-company-header>
    </div>

    <div fxFlex="5vh">
        <div fxFlexFill fxLayout="row" fxLayoutAlign="center  center">
            <div class="acme-sc-navigation-side-bar-title" fxFlex="10vw" fxLayoutAlign="center center">
                <span>Assignments Types</span>
            </div>
        </div>
    </div>
    <div fxFlex class="acme-sc-room-assignment-types-list">
        <div fxLayout="column" fxLayoutGap="1vh">
            <div fxFlex (click)="allAssignmentsItemClicked()">
                <acme-sc-room-assignment-type-item [itemName]="'All Assignments'" [iconName]="'select_all'"
                    [selected]="allAssignmentsSelected">

                </acme-sc-room-assignment-type-item>
            </div>
            <div fxFlex (click)="activeAssignmentsItemClicked()">
                <acme-sc-room-assignment-type-item [itemName]="'Active Assignments'" [iconName]="'check_circle_outline'"
                    [selected]="activesSelected">

                </acme-sc-room-assignment-type-item>
            </div>
            <div ffxFlex (click)="expiredAssignmentsItemClicked()">
                <acme-sc-room-assignment-type-item [itemName]="'Expired Assignments'" [iconName]="'pending_actions'"
                    [selected]="expiredSelected">

                </acme-sc-room-assignment-type-item>
            </div>
            <div fxFlex (click)="closedAssignmentsItemClicked()">
                <acme-sc-room-assignment-type-item [itemName]="'Closed Assignments'" [iconName]="'lock'"
                    [selected]="closedSelected">

                </acme-sc-room-assignment-type-item>
            </div>
        </div>
    </div>
</div>