<div fxFlexFill fxLayout="column">
    <div fxFlex="5vh" fxFill fxLayoutAlign="center" class="acme-cs-heading">
        <span>{{'SHARED_DIALOG_SHARE_ROOM_HEADING_LABEL'|translate}}</span>
    </div>
    <div fxFlex="20vh" fxFill>
        <div fxFlex fxFill>
            <form [formGroup]="shareRoomFormGroup">
                <div fxFlexFill fxLayout="column">
                    <!--Email-->
                    <div fxFlex="9vh">
                        <mat-form-field class="form-field acme-form-input-field" fxFill>
                            <mat-label class="acme-form-input-field">
                                <mat-icon class="acme-cs-mat-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"
                                        viewBox="0 0 24 24">
                                        <path
                                            d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z" />
                                        <path d="M0 0h24v24H0z" fill="none" />
                                    </svg>
                                </mat-icon>
                                {{'SHARED_DIALOG_SHARE_ROOM_EMAIL'|translate}}
                            </mat-label>
                            <input class="acme-form-input-field" required matInput placeholder="{{'SHARED_DIALOG_SHARE_ROOM_EMAIL'|translate}}"
                                formControlName="emailControl" autocomplete="off">
                            <mat-error class="acme-form-input-field"
                                *ngIf="shareRoomFormGroup.controls['emailControl'].errors?.email">
                                {{'SHARED_DIALOG_SHARE_ROOM_EMAIL_VALID'|translate}}
                            </mat-error>
                            <mat-error class="acme-form-input-field"
                                *ngIf="shareRoomFormGroup.controls['emailControl'].errors?.required">
                                {{'SHARED_DIALOG_SHARE_ROOM_EMAIL_REQUIRED'|translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <!--Nick Name-->
                    <div fxFlex="9vh">
                        <mat-form-field class="form-field acme-form-input-field" fxFill>
                            <mat-label class="acme-form-input-field">
                               {{'SHARED_DIALOG_SHARE_ROOM_NICK_NAME'|translate}}
                            </mat-label>
                            <input class="acme-form-input-field" required matInput placeholder="{{'SHARED_DIALOG_SHARE_ROOM_NICK_NAME'|translate}}"
                                formControlName="nameControl" autocomplete="off">
                            <mat-error class="acme-form-input-field" *ngIf="shareRoomFormGroup.controls['nameControl'].errors?.required ||
                                shareRoomFormGroup.controls['nameControl'].errors?.whiteSpace">
                               {{'SHARED_DIALOG_SHARE_ROOM_NICK_REQUIRED'|translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div fxFlex fxFill fxLayoutAlign="end end">
        <div fxFlexFill fxLayout="column" fxLayoutAlign="end end">
            <div fxFill fxFlex="7vh">
                <div fxFlexFill fxLayout="row" fxLayoutGap="0.4vw">
                    <div fxFlex fxLayoutAlign="start end">
                        <button class="acme-sc-button" fxFill mat-raised-button color="accent"
                            class="acme-sc-share-confirmation-confirm-button" (click)="shareRoom()" [disabled]="!shareRoomFormGroup.controls['emailControl'].valid ||
                            !shareRoomFormGroup.controls['nameControl'].valid">
                            {{'SHARED_DIALOG_SHARE_ROOM_BUTTON_SHARE_LABEL'|translate}}
                        </button>
                    </div>
                    <div fxFlex fxLayoutAlign="end end">
                        <button class="acme-sc-button acme-sc-share-confirmation-close-button" fxFill mat-raised-button color="warn" (click)="cancelShare()">
                            {{'SHARED_DIALOG_SHARE_ROOM_BUTTON_SHARE_CANCEL_LABEL'|translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-progress-bar *ngIf="isProgress" mode="indeterminate"></mat-progress-bar>
</div>