<div fxFlexFill fxLayout="column">
    <div fxFlex="5%" fxFill fxLayoutAlign="center" class="acme-cs-heading">
        <span>Share your Room</span>
    </div>
    <div fxFlex="80%" fxFill>
        <div fxFlex fxFill>
            <form [formGroup]="shareRoomFormGroup">
                <div fxFlexFill fxLayout="column">
                    <!--Email-->
                    <div fxFlex="50%">
                        <mat-form-field class="form-field" fxFill>
                            <mat-label class="acme-form-input-field">
                                <mat-icon class="acme-cs-mat-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"
                                        viewBox="0 0 24 24">
                                        <path
                                            d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z" />
                                        <path d="M0 0h24v24H0z" fill="none" />
                                    </svg>
                                </mat-icon>
                                Email
                            </mat-label>
                            <input class="acme-form-input-field" required matInput placeholder="Email" formControlName="emailControl"
                                autocomplete="off">
                            <mat-error class="acme-form-input-field" *ngIf="shareRoomFormGroup.controls['emailControl'].errors?.email">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error class="acme-form-input-field" *ngIf="shareRoomFormGroup.controls['emailControl'].errors?.required">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <!--Nick Name-->
                    <div fxFlex="50%">
                        <mat-form-field class="form-field" fxFill>
                            <mat-label class="acme-form-input-field">
                                Nick Name
                            </mat-label>
                            <input class="acme-form-input-field" required matInput placeholder="Nick Name" formControlName="nameControl" autocomplete="off">
                            <mat-error class="acme-form-input-field" *ngIf="shareRoomFormGroup.controls['nameControl'].errors?.required ||
                                shareRoomFormGroup.controls['nameControl'].errors?.whiteSpace">
                                Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div fxFlex fxFill fxLayoutAlign="end end">
        <div fxFlexFill fxLayout="row" fxLayoutGap="0.4vw">
            <div fxFlex="50%" fxLayoutAlign="start end">
                <button fxFill  mat-raised-button color="accent" class="acme-sc-share-confirmation-confirm-button"
                    (click)="shareRoom()" [disabled]="!shareRoomFormGroup.controls['emailControl'].valid ||
                    !shareRoomFormGroup.controls['nameControl'].valid">
                    Share
                </button>
            </div>
            <div fxFlex="50%" fxLayoutAlign="end end">
                <button fxFill mat-raised-button color="warn" class="acme-sc-share-confirmation-close-button"
                    (click)="cancelShare()">
                    Cancel
                </button>
            </div>
        </div>
    </div>
    <mat-progress-bar *ngIf="isProgress" mode="indeterminate"></mat-progress-bar>
</div>