.acme-sc-share-confirmation-close-button {
    background-color: darkorange !important;
    width:100px;
    font-size: 1.1vw;
}
.acme-sc-share-confirmation-confirm-button {
    width:100px;
    font-size: 1vw;
}

.acme-form-input-field {
    font-size: 1.1vw;
}
