<div fxLayout="row" fxLayoutGap="0.4vw" (click)="assesmentTypeItemClicked()"
    [ngClass]="selected===true?'acme-sc-navigation-side-bar-item-container' : 'acme-sc-navigation-side-bar-item-container-default'"
    class="acme-sc-navigation-side-bar-item" fxLayoutAlign="start center">

    <div fxFlex="0.1vw" fxFill [ngClass]="{'acme-sc-navigation-side-bar-item-selection-bar':selected}">

    </div>
    <div fxFlex="1.5vw" [ngClass]="selected===true?'acme-sc-content-item-icon-selected' : 'acme-cs-mat-icon'">
        <mat-icon class="acme-cs-mat-icon-default" fxLayoutAlign="start center" fontSet="material-icons-outlined"
            aria-hidden="false" aria-label="home icon">{{iconName}}

        </mat-icon>
    </div>
    <div fxFlex fxLayoutAlign="start center"
        [ngClass]="selected===true?'acme-sc-navigation-side-bar-item-text' : 'acme-sc-navigation-side-bar-item-text-default'">
        <span>{{itemName}}</span>
    </div>
</div>