.acme-sc-topic-creation-close-button {
    background-color: darkorange !important;
    width:100px;
}
.acme-sc-topic-creation-confirm-button {
    width:100px;
}

.acme-sc-topic-chip {
    padding-left:8px;
}

.acme-sc-topic-chip-close-icon {
    padding-left: 4px;;
}