<div fxFlexFill fxLayout="column" fxLayoutGap="0.4vw">
    <div fxFlex="5vh" fxFill class="acme-cs-heading">
        <span>Create new discussion Topic</span>
    </div>
    <div fxFlex="20vh" fxFill>
        <div fxFlex fxFill>
            <form [formGroup]="topicFormGroup" fxFill>
                <div fxFlexFill fxLayout="column">
                    <!--topic title-->
                    <div fxFlex="9vh" fxFill>
                        <mat-form-field class="form-field acme-form-input-field" fxFill>
                            <mat-label class="acme-form-input-field">
                                Title
                            </mat-label>
                            <input class="acme-form-input-field" required matInput placeholder="Title"
                                formControlName="titleControl" autocomplete="off">
                            <mat-error class="acme-form-input-field" *ngIf="topicFormGroup.controls['titleControl'].errors?.required ||
                                topicFormGroup.controls['titleControl'].errors?.whiteSpace">
                                Title is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <!--topic tags-->
                    <div fxFlex="9vh" fxFill>
                        <!--Topic Tags-->
                        <mat-form-field class="form-field acme-form-input-field" fxFill>
                            <mat-label class="acme-form-input-field">Associated Tags</mat-label>
                            <mat-chip-list #chipList aria-label="Topic tags">
                                <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable"
                                    (removed)="removeTag(tag)" fxLayoutAlign="center center" class="acme-sc-topic-chip acme-form-input-field">
                                    {{tag}}
                                    <mat-icon fxLayoutAlign="center center" class="acme-cs-mat-icon acme-sc-topic-chip-close-icon">cancel</mat-icon>
                                </mat-chip>
                                <input class="acme-form-input-field" placeholder="Associated tags" #fruitInput formControlName="tagControl"
                                    [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    (matChipInputTokenEnd)="addTag($event)">
                            </mat-chip-list>
                        </mat-form-field>
                    </div>
                    <div fxFlex="2vh" fxFill class="acme-sc-topic-tags-message" fxLayoutAlign="center center">
                            <span>To associate tag please press <b>Enter</b> after typing tag name.</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div fxFlex fxLayoutAlign="end end" fxFill>
        <div fxFlexFill fxLayout="column" fxLayoutAlign="end end">
            <div fxFill fxFlex="7vh">
                <div fxFlexFill fxLayout="row" fxLayoutGap="0.4vw">
                    <div fxFlex fxLayoutAlign="start end" fxFill>
                        <button fxFill mat-raised-button color="accent" class="acme-sc-button"
                            (click)="createTopic()" [disabled]="!topicFormGroup.controls['titleControl'].valid">
                            Create
                        </button>
                    </div>
                    <div fxFlex fxLayoutAlign="end end" fxFill>
                        <button fxFill mat-raised-button color="warn" class="acme-sc-button acme-sc-topic-creation-close-button"
                            (click)="cancelTopicCreation()">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-progress-bar *ngIf="isProgress" mode="indeterminate"></mat-progress-bar>
</div>