<div fxFlexFill fxLayout="column" fxLayoutGap="1vh">
    <div fxFlex="5vh" fxFill class="acme-cs-heading">
        <span>{{'ROOM_ASSESSMENT_DIALOG_EVALUATION_TITLE'|translate}}</span>
    </div>
    <div fxFlex="15vh" fxFill>
        <div fxFlex fxFill>
            <form [formGroup]="evaluateAssesmentFormGroup" fxFill>
                <div fxFlexFill fxLayout="column">
                    <!--Marks-->
                    <div fxFlex="9vh">
                        <div fxFlexFill fxLayout="row" fxLayoutGap="0.4vw">
                            <div fxFlex="20vh">
                                <mat-form-field class="form-field acme-form-input-field" fxFill>
                                    <mat-label class="acme-form-input-field">
                                        {{'ROOM_ASSESSMENT_DIALOG_EVALUATION_MARKS'|translate}}
                                    </mat-label>
                                    <input type="Number" min="0" required class="acme-form-input-field" required matInput placeholder="{{'ROOM_ASSESSMENT_DIALOG_EVALUATION_MARKS'|translate}}"
                                        formControlName="marksControl" autocomplete="off">
                                    <mat-error class="acme-form-input-field acme-sc-error" *ngIf="evaluateAssesmentFormGroup.controls['marksControl'].errors?.required ||
                                        evaluateAssesmentFormGroup.controls['marksControl'].errors?.whiteSpace">
                                       {{'ROOM_ASSESSMENT_DIALOG_EVALUATION_MARKS_REQUIRED'|translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="acme-form-input-field" fxLayoutAlign="start center" fxFlex="20vh">
                                <span>{{'ROOM_ASSESSMENT_DIALOG_EVALUATION_MARKS_OUT_OF'|translate}} </span> <span style="padding-left: 1vw;"
                                    class="acme-sc-total-marks-grade"><b> {{data.userAssesment.totalMarks}}</b></span>
                            </div>
                            <!--grade-->
                            <div fxFlex="25vh">
                                <mat-form-field class="form-field acme-form-input-field" fxFill>
                                    <mat-label class="acme-form-input-field">
                                        {{'ROOM_ASSESSMENT_DIALOG_EVALUATION_GRADE'|translate}}
                                    </mat-label>
                                    <input required class="acme-form-input-field" required matInput
                                        placeholder="{{'ROOM_ASSESSMENT_DIALOG_EVALUATION_GRADE'|translate}}" formControlName="gradeControl" autocomplete="off">
                                    <mat-error class="acme-form-input-field acme-sc-error" *ngIf="evaluateAssesmentFormGroup.controls['gradeControl'].errors?.required ||
                                        evaluateAssesmentFormGroup.controls['gradeControl'].errors?.whiteSpace">
                                        {{'ROOM_ASSESSMENT_DIALOG_EVALUATION_GRADE_REQUIRED'|translate}}
                                    </mat-error>
                                </mat-form-field>
                                <div class="acme-sc-owner-label">{{'ROOM_ASSESSMENT_DIALOG_EVALUATION_GRADE_EXAMPLE'|translate}}</div>
                            </div>
                        </div>
                    </div>
                    <!--file input-->
                    <div fxFlex="15vh">

                        <label for="file-upload" class="acme-form-input-field custom-file-upload">
                            {{'ROOM_ASSESSMENT_DIALOG_EVALUATION_ASSESSMENT_FILE'|translate}}
                        </label>
                        <input formControlName="fileControl" id="file-upload" type="file" required
                            class="form-control acme-form-input-field" (change)="onFileChange($event)"
                            accept=".pdf, .doc,.docx, .txt, .ppt, .pptx">
                        <div class="acme-sc-error" *ngIf="f.fileControl.errors?.required  && fileName===''">{{'ROOM_ASSESSMENT_DIALOG_EVALUATION_ASSESSMENT_FILE_REQUIRED'|translate}}</div>
                        <div class="acme-sc-file-name" style="padding-top:1vh">{{fileName}}</div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <!--Assesment Editor-->
    <div fxFlex="45vh" fxFill style="padding-top: 1vh;">
        <quill-editor fxFlexFill [(ngModel)]="evaluationContent" [modules]="modules"
            placeholder="Insert yuor comments here ..." [required]="true">
        </quill-editor>
    </div>
    <div fxFlex fxLayoutAlign="end end" fxFill>
        <div fxFlexFill fxLayout="column" fxLayoutAlign="end end">
            <div fxFill fxFlex="7vh">
                <div fxFlexFill fxLayout="row" fxLayoutGap="0.4vw">
                    <div fxFlex fxLayoutAlign="start end" fxFill>
                        <button fxFill mat-raised-button color="accent" class="acme-sc-button"
                            (click)="submitAssesmentEvaluation()" [disabled]="evaluationContent.trim()==='' ||
                                !evaluateAssesmentFormGroup.controls['fileControl'].valid ||
                                !evaluateAssesmentFormGroup.controls['gradeControl'].valid||
                                !evaluateAssesmentFormGroup.controls['marksControl'].valid">
                            {{buttonLabel}}
                        </button>
                    </div>
                    <div fxFlex fxLayoutAlign="end end" fxFill>
                        <button fxFill mat-raised-button color="warn"
                            class="acme-sc-button acme-sc-evaluate-submit-close-button"
                            (click)="cancelAssesmentEvaluation()">
                            {{'ROOM_ASSESSMENT_DIALOG_EVALUATION_BUTTON_LABEL_CANCEL'|translate}}
                        </button>
                    </div>
                </div>
            </div>
            <mat-progress-bar *ngIf="isProgress" mode="indeterminate"></mat-progress-bar>
        </div>
    </div>
</div>