<div fxFlexFill fxLayout="column" class="acme-sc-navigation-side-bar">
    <acme-sc-company-header></acme-sc-company-header>
    <div fxFlex fxFill style="border-top: outset;">
        <div fxFlexFill fxLayout="column">
            <ng-scrollbar thumbClass="white-scrollbars">
                <acme-sc-navigation-item  *ngFor="let navigationItem of navigationItemsList" [itemName]="navigationItem.name" [iconName]="navigationItem.icon"
                    [selected]="navigationItem.selected" (itemClicked)="navigationItemClicked($event)">
                </acme-sc-navigation-item>
            </ng-scrollbar>
        </div>
    </div>
</div>
