.acme-sc-room-close-label {
    font-size:small;
    background-color: whitesmoke;
    opacity: 0.7;
}

.acme-sc-topic-title {
    
    opacity: 0.7;
    font-size: 24px;
}

.acme-sc-refresh-icon {
    cursor: pointer;
}

.acme-upload-content-button {
    width: 160px;
}