@import '../../../shared/css/commom.scss';
@import '../../../shared/css/variables.scss';

.acme-sc-room-home {
    cursor: pointer;
    font-weight: bold;
    text-decoration-line: underline;
    color:$acme-sc-company-label-color;
    font-size:0.8vw;
}

.acme-sc-apps-button {
    height:100%;
    width:100%;
}


.acme-sc-beta-label {
    font-size: 0.6vw;
    color: $acme-sc-beta-feature-color;
    padding-left: 0.2vw;
}

