<div fxFlexFill fxLayout="column">
    <div fxFlex="5vh" fxFill class="acme-cs-heading">
        <span>{{'EXPLORER_ROOM_CREATE_ROOM_DIALOG_LABEL'|translate}}</span>
    </div>
    <div fxFlex="20vh" fxFill>
        <div fxFlex>
            <form [formGroup]="createRoomFormGroup">
                <div fxFlexFill fxLayout="column">
                    <!--Room title-->
                    <div fxFlex="9vh" fxFill>
                        <mat-form-field class="form-field acme-form-input-field" fxFill>
                            <mat-label class="acme-form-input-field">
                                <mat-icon class="acme-cs-mat-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 0 24 24"
                                        width="100%" fill="#000000">
                                        <path d="M0 0h24v24H0V0z" fill="none" />
                                        <path d="M5 4v3h5.5v12h3V7H19V4H5z" />
                                    </svg>
                                </mat-icon>

                            </mat-label>
                            <input class="acme-form-input-field" required matInput placeholder="{{'EXPLORER_ROOM_CREATE_ROOM_TITLE'|translate}}"
                                formControlName="titleControl">
                            <mat-error class="acme-form-input-field" *ngIf="createRoomFormGroup.controls['titleControl'].errors?.required ||
                                createRoomFormGroup.controls['titleControl'].errors?.whiteSpace">
                                {{'EXPLORER_ROOM_CREATE_ROOM_TITLE_REQUIRED'|translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <!--Room Description-->
                    <div fxFlex="9vh" fxFill>
                        <mat-form-field class="form-field acme-form-input-field" fxFill>
                            <mat-label class="acme-form-input-field">
                                <mat-icon class="acme-cs-mat-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 0 24 24"
                                        width="100%" fill="#000000">
                                        <path d="M0 0h24v24H0V0z" fill="none" />
                                        <path
                                            d="M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H4V6h16v12zM6 10h2v2H6zm0 4h8v2H6zm10 0h2v2h-2zm-6-4h8v2h-8z" />
                                    </svg>
                                </mat-icon>
                            </mat-label>
                            <input class="acme-form-input-field" required matInput placeholder="{{'EXPLORER_ROOM_CREATE_ROOM_DESCRIPTION'|translate}}"
                                formControlName="descriptionControl">
                            <mat-error class="acme-form-input-field" *ngIf="createRoomFormGroup.controls['descriptionControl'].errors?.required ||
                                createRoomFormGroup.controls['descriptionControl'].errors?.whiteSpace">
                                {{'EXPLORER_ROOM_CREATE_ROOM_DESCRIPTION_REQUIRED'|translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div fxFlex fxFill fxLayoutAlign="end end">
        <div fxFlexFill fxLayout="column" fxLayoutAlign="end end">
            <div fxFill fxFlex="7vh">
                <div fxFlexFill fxLayout="row" fxLayoutGap="0.4vw">
                    <div fxFlex fxLayoutAlign="start end" fxFill>
                        <button class="acme-sc-button" mat-raised-button color="accent" fxFill
                            (click)="createRoom()" [disabled]="!createRoomFormGroup.controls['titleControl'].valid ||
                            !createRoomFormGroup.controls['descriptionControl'].valid || isProgress===true">
                            {{'EXPLORER_ROOM_CREATE_ROOM_DIALOG_BUTTON_LABEL'|translate}}
                        </button>
                    </div>
                    <div fxFlex fxLayoutAlign="end end" fxFill>
                        <button fxFill mat-raised-button color="warn" class="acme-sc-button acme-sc-room-creation-close-button"
                        (click)="closeButtonClicked($event)">
                        {{'EXPLORER_ROOM_CANCEL_ROOM_DIALOG_BUTTON_LABEL'|translate}}
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-progress-bar *ngIf="isProgress===true" mode="indeterminate"></mat-progress-bar>
    <div>
        