<div fxFlexFill fxLayout="column" fxLayoutAlign="space-between">
    <div fxFlex="54px">
        <acme-sc-dialog-header [title]="'Create Room'" (closeButtonClicked)="closeButtonClicked($event)">

        </acme-sc-dialog-header>
    </div>
    <div fxFlex>
        <form [formGroup]="createRoomFormGroup">
            <!--Title-->
            <mat-form-field class="form-field" fxFill>
                <mat-label>
                    <mat-icon class="acme-cs-mat-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 0 24 24" width="100%"
                            fill="#000000">
                            <path d="M0 0h24v24H0V0z" fill="none" />
                            <path d="M5 4v3h5.5v12h3V7H19V4H5z" />
                        </svg>
                    </mat-icon>

                </mat-label>
                <input required matInput placeholder="Title" formControlName="titleControl">
                <mat-error *ngIf="createRoomFormGroup.controls['titleControl'].errors?.required ||
                    createRoomFormGroup.controls['titleControl'].errors?.whiteSpace">
                    Title is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <!--Description-->
            <mat-form-field class="form-field" fxFill>
                <mat-label>
                    <mat-icon class="acme-cs-mat-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 0 24 24" width="100%"
                            fill="#000000">
                            <path d="M0 0h24v24H0V0z" fill="none" />
                            <path
                                d="M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H4V6h16v12zM6 10h2v2H6zm0 4h8v2H6zm10 0h2v2h-2zm-6-4h8v2h-8z" />
                        </svg>
                    </mat-icon>
                </mat-label>
                <input required matInput placeholder="Description" formControlName="descriptionControl">
                <mat-error *ngIf="createRoomFormGroup.controls['descriptionControl'].errors?.required ||
                    createRoomFormGroup.controls['descriptionControl'].errors?.whiteSpace">
                    Description is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </form>
    </div>
    <div fxFlex="48px" fxLayoutAlign="end end">
        <button mat-raised-button color="accent" fxFill (click)="createRoom()" [disabled]="!createRoomFormGroup.controls['titleControl'].valid ||
            !createRoomFormGroup.controls['descriptionControl'].valid || isProgress===true">
            Create Room
        </button>
    </div>
    <mat-progress-bar *ngIf="isProgress===true" mode="indeterminate"></mat-progress-bar>
</div>