<div fxFlexFill fxLayout="column"fxLayoutGap="0.4vw">
    <div fxFlex="15vh" fxFill>
        <div fxFlexFill fxLayout="row">
            <div fxFlex="20vw" class="acme-sc-custom-company-header">
                <acme-sc-company-header></acme-sc-company-header>
            </div>
            <div fxFlex class="acme-sc-container" >
                <div fxFlexFill fxLayout="column" fxLayoutGap="1vh">
                    <div fxFlex="5vh" fxFill>
                        <acme-sc-main-header [userNickName]="nickName" [userFullName]="fullName"
                            [placeHolder]="''" [title]="commentTitle"
                            [dislaySearchBox]="showSearchBox">
                        </acme-sc-main-header>
                    </div>
                    <div *ngIf="!isProgress && isSuccessFull" fxFlex="5vh">
                        <acme-sc-navigation-bar [room]="roomDetailsEntity" [roomType]="roomType">
                        </acme-sc-navigation-bar>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Progress-->
    <div *ngIf="isProgress" fxFlex fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </div>

    <!--Server Error-->
    <div *ngIf="!isSuccessFull && !isProgress" fxFlex fxFill fxLayoutAlign="center center">
        <div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
            <div fxFlex="20vh" fxFill fxLayoutAlign="center  center">
                <svg style="fill:darkorange" xmlns="http://www.w3.org/2000/svg" width="10vw" height="10vh"
                    viewBox="0 0 24 24">
                    <path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" />
                </svg>
            </div>
            <div fxFlex="5vh" fxFill fxLayoutAlign="center center" class="acme-sc-label-default-message">
                <span>{{commentsResponseMessage}}</span>
            </div>
        </div>
    </div>
    <div class="acme-sc-container"  fxFlex fxFill>
        <!--Successfull call-->
        <div fxLayout="column" *ngIf="isSuccessFull && !isProgress" fxFlexFill fxLayoutGap="0.4vw">
            <!--title row-->
            <div fxFlex="5vh" fxFill>
                <div fxFlexFill fxLayout="row" fxLayoutGap="0.4vw">
                    <!--comments Label-->
                    <div fxFlex="8vw" fxLayoutAlign="start center" class="acme-sc-navigation-item-title">
                        Comments
                    </div>

                    <!--comments icon-->
                    <div fxFlex="2vw" fxLayoutAlign="start center" class="acme-cs-navigation-item-icon">
                        <svg  xmlns="http://www.w3.org/2000/svg" height="3vh" viewBox="0 0 24 24" width="3vw">
                            <path d="M0 0h24v24H0z" fill="none"/><path d="M21.99 4c0-1.1-.89-2-1.99-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14l4 4-.01-18zM18 14H6v-2h12v2zm0-3H6V9h12v2zm0-3H6V6h12v2z"/>
                        </svg>
                    </div>

                    <!--Refresh  icon-->
                    <div fxFlex="2vw" fxLayoutAlign="start center" (click)="refrshCommentsList()"
                        class="acme-cs-mat-icon-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" height="3vh" viewBox="0 0 24 24" width="3vw"
                            fill="#000000">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z" />
                        </svg>
                    </div>

                    <!--room not active label-->
                    <div fxLayoutAlign="center center"
                        *ngIf="(!isRoomActive || !isTopicActive) && !isProgress && isSuccessFull" fxFlex="50vw"
                        class="acme-sc-room-close-label">
                        <svg xmlns="http://www.w3.org/2000/svg" height="3vh" viewBox="0 0 24 24" width="3vw" fill="red">
                            <path
                                d="M12 5.99L19.53 19H4.47L12 5.99M12 2L1 21h22L12 2zm1 14h-2v2h2v-2zm0-6h-2v4h2v-4z" />
                        </svg>
                        <span>This room is no longer active !!!!</span>
                    </div>

                    <!-- new comment button-->
                    <div *ngIf="!isProgress && isSuccessFull && commentsEntity.comments.length > 0 && isRoomActive && isTopicActive"
                        fxFlex fxFill>
                        <div fxFlexFill fxLayout="row" fxLayoutAlign="end center">
                            <div fxFlex="13vw" fxFill>
                                <button fxFill class="acme-sc-button" mat-raised-button color="accent"
                                    (click)="createComment()">Add
                                    new comment
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div fxFlex fxFill>
                <!--Empty List-->
                <div *ngIf="commentsEntity.comments.length === 0" fxFlexFill fxLayout="column"
                    fxLayoutAlign="center  center" fxLayoutGap="0.4vw">
                    <div fxFlex="0 0 20vh" fxFill fxLayoutAlign="center  center" class="acme-cs-navigation-item-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="10vh" viewBox="0 0 24 24" width="10vw">
                            <path d="M0 0h24v24H0V0z" fill="none" />
                            <path
                                d="M19 1l-5 5v11l5-4.5V1zM1 6v14.65c0 .25.25.5.5.5.1 0 .15-.05.25-.05C3.1 20.45 5.05 20 6.5 20c1.95 0 4.05.4 5.5 1.5V6c-1.45-1.1-3.55-1.5-5.5-1.5S2.45 4.9 1 6zm22 13.5V6c-.6-.45-1.25-.75-2-1v13.5c-1.1-.35-2.3-.5-3.5-.5-1.7 0-4.15.65-5.5 1.5v2c1.35-.85 3.8-1.5 5.5-1.5 1.65 0 3.35.3 4.75 1.05.1.05.15.05.25.05.25 0 .5-.25.5-.5v-1.1z" />
                        </svg>
                    </div>
                    <!--Empty topics message-->
                    <div fxFlex="5vh" fxFill fxLayoutAlign="center center" class="acme-sc-label-default-message">
                        <span>This topic don't have any comments yet,add new comment and start the discussion.</span>
                    </div>
                    <div *ngIf="isRoomActive" fxFlex="7vh" fxFill fxLayoutAlign="center start">
                        <div fxLayout="row" fxFlexFill fxLayoutAlign="center start">
                            <div fxFlex="13vw" fxFill fxLayoutAlign="center start">
                                <button fxFill class="acme-sc-button" mat-raised-button color="accent"
                                    (click)="createComment()">Add
                                    new comment
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--non empty list-->
                <div *ngIf="commentsEntity.comments.length > 0" fxFlexFill fxLayout="column">
                    <ng-scrollbar thumbClass="white-scrollbars">
                        <acme-sc-room-topic-comment *ngFor="let comment of commentsList" [comment]=comment
                            [roomOwner]="roomOwner" (commentDeleted)="commentDeleted()" fxLayoutGap="0.4vh">

                        </acme-sc-room-topic-comment>
                    </ng-scrollbar>
                </div>
            </div>
            <div (click)="fetchMoreRecords()" class="acme-sc-comments-loadmore"
                *ngIf="isMore && isSuccessFull && !isProgress" fxFlex="5vh" fxLayoutAlign="center center">
                <span class="acme-load-more-label">Load more....</span>
            </div>
        </div>
    </div>
</div>