@import '../../../../shared/css/commom.scss';
.acme-sc-comment-creation-close-button {
    background-color: darkorange !important;
}

::ng-deep .ql-tooltip {
    left:0px !important
}
::ng-deep .ql-editing {
    left:0px !important
}