.acme-sc-comment-creation-close-button {
    background-color: darkorange !important;
    width:100px;
}
.acme-sc-comment-creation-confirm-button {
    width:100px;
}
::ng-deep .ql-tooltip {
    left:0px !important
}
::ng-deep .ql-editing {
    left:0px !important
}