.acme-sc-comment-creation-close-button {
    background-color: darkorange !important;
    font-size:1vw;
    width:100%;
    padding:0.4vw;
    line-height: 0;
}
.acme-sc-comment-creation-confirm-button {
    font-size:1vw;
    width:100%;
    padding:0.4vw;
    line-height: 0;
}
::ng-deep .ql-tooltip {
    left:0px !important
}
::ng-deep .ql-editing {
    left:0px !important
}