.acme-sc-room-topic-votes-count {
    font-size: 0.9vw;
    font-weight: bold;
    opacity: 0.5;
}

.acme-sc-room-topic-votes-label {
    font-size: 0.9vw;
}

.acme-sc-room-topic-votes-container {
    background-color: whitesmoke;
    border-radius: 0.4vw;
}