.acme-sc-room-topic-votes-count {
    font-size: small;
    font-weight: bold;
    opacity: 0.5;
}

.acme-sc-room-topic-votes-label {
    font-size: smaller;
}

.acme-sc-room-topic-votes-container {
    background-color: whitesmoke;
    border-radius: 8px;
    padding:4px;
}