<div fxFlexFill fxLayout="row">
    <!--assignment types-->
    <div fxFlex="20vw" fxFill>
        <div fxFlexFill fxLayout="column">
            <div  fxFlex>
                <acme-sc-room-assesment-types-list (itemClicked)="OnAssesmentTypeSelected($event)">

                </acme-sc-room-assesment-types-list>
            </div>
            <div class="acme-sc-company-label"  fxFlex="5vh" fxLayoutAlign="center center">
                <span>Powered By: <b>Bitstone Infotech</b> </span>
            </div>
        </div>
    </div>
    <div fxFlex fxFill class="acme-sc-container">
        <div fxFlexFill fxLayout="column" fxLayoutGap="1vh">
            <!--main header-->
            <div fxFlex="5vh">
                <acme-sc-main-header [userNickName]="nickName" [userFullName]="fullName"
                    (userNameClicked)="userNameClicked($event)" (searchTextchange)="searchTextchange($event)"
                    [placeHolder]="this.translateService.instant('ROOM_ASSESSMENT_EXPLORE_SEARCH_TITLE')">
                </acme-sc-main-header>
            </div>
            <!--progress-->
            <div *ngIf="isProgress" fxFlex fxLayoutAlign="center center">
                <mat-spinner></mat-spinner>
            </div>
            <!--Navigation row-->
            <div *ngIf="!isProgress && isSuccessFull" fxFlex="5vh">
                <acme-sc-navigation-bar [room]="roomDetailsEntity" [roomType]="roomType"></acme-sc-navigation-bar>
            </div>
            <!--Sever error-->
            <div *ngIf="!isSuccessFull && !isProgress" fxFlex fxFill fxLayoutAlign="center center">
                <div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
                    <div fxFlex="20vh" fxFill fxLayoutAlign="center  center">
                        <svg style="fill:darkorange" xmlns="http://www.w3.org/2000/svg" width="10vw" height="10vh"
                            viewBox="0 0 24 24">
                            <path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" />
                        </svg>
                    </div>
                    <div fxFlex="5vh" fxFill fxLayoutAlign="center center" class="acme-sc-label-default-message">
                        <span>Fail to get assesments, please contact system administrator.</span>
                    </div>
                </div>
            </div>
            <!--Assesments list container-->
            <div *ngIf="!isProgress && isSuccessFull" fxFlex fxFill>
                <!--add assigment list here-->
                <acme-sc-room-assesment-list [filterText]="filterText" [contentTypeFilter]="contentFilterType"
                    [room]="roomDetailsEntity" [roomType]="roomType">
                </acme-sc-room-assesment-list>
            </div>
        </div>
    </div>
</div>