@import '../../../shared/css/commom.scss';
@import '../../../shared/css/variables.scss';

.acme-sc-custom-link {
    text-decoration: underline;
    cursor: pointer;
}

.acme-sc-custom-submission {
    color: $acme-sc-link-color;
}

.acme-sc-grade-marks {
    font-weight: bold;
    color: $acme-sc-company-label-color;
    font-size: 1vw;
}
