<div fxFlexFill fxLayout="column"  [ngClass]="'dark-theme'" fxLayoutGap="1vh">
    <div fxFlex="16.5vh" fxFill>
        <div fxFlexFill fxLayout="row" fxFill fxLayoutGap="0.4vw">
            <div fxFlex="20vw" class="acme-sc-custom-company-header">
                <acme-sc-company-header></acme-sc-company-header>
            </div>
            <div fxFlex>
                <div fxFlexFill fxLayout="column" fxLayoutGap="1.5vh">
                    <div fxFlex="8vh" fxFill>
                        <acme-sc-main-header [userNickName]="nickName" [userFullName]="fullName" [placeHolder]="''"
                            [title]="assesmentTitle" [dislaySearchBox]="showSearchBox">
                        </acme-sc-main-header>
                    </div>
                    <div *ngIf="!isProgress && isSuccessFull" fxFlex="7vh">
                        <acme-sc-navigation-bar [room]="roomDetailsEntity" [roomType]="roomType">
                        </acme-sc-navigation-bar>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--assesment file link-->
    <div (click)="openAssesmentFile()" *ngIf="roomStatus !== 'Closed' && !isProgress && assesment.status === 'Active'"
        fxFlex="5vh" fxFill>
        <div fxFlexFill fxLayout="column">
            <div fxFlex>
                <span
                    class="acme-sc-label-default-message acme-sc-custom-label">{{'ROOM_ASSESSMENT_SUBMISSION_ASSIGNMENT_FILE'|translate}}
                </span><span class="acme-sc-content-link acme-sc-custom-link">{{fileName}}</span>
            </div>
            <div *ngIf="isfileDownloadProgress" fxFlex="2vh">
                <mat-progress-bar *ngIf="!isProgress" mode="indeterminate"></mat-progress-bar>
            </div>
        </div>
    </div>
    <!--Progress-->
    <div *ngIf="isProgress" fxFlex fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </div>
    <!--assesment not active-->
    <div *ngIf="(roomStatus === 'Closed' || assesment.status === 'Closed') && !isProgress" fxFlex="5vh" fxFill>
        <div class="acme-sc-room-close-label" fxFlexFill fxLayout="row" fxLayoutGap="0.4vw"
            fxLayoutAlign="center center">
            <div fxFlex="50vw" fxLayoutAlign="center center">
                <svg xmlns="http://www.w3.org/2000/svg" height="3vh" viewBox="0 0 24 24" width="3vw" fill="red">
                    <path d="M12 5.99L19.53 19H4.47L12 5.99M12 2L1 21h22L12 2zm1 14h-2v2h2v-2zm0-6h-2v4h2v-4z" />
                </svg>
                <span class="acme-sc-default-text">{{'ROOM_ASSESSMENT_SUBMISSION_NOT_ACTIVE'|translate}}</span>
            </div>
        </div>
    </div>

    <!--assesment details bar-->
    <div *ngIf="!isProgress && isSuccessFull" fxFlex="5vh" fxFill>
        <div fxFlexFill fxLayout="row" fxLayoutGap="0.4vw">
            <!--status-->
            <div *ngIf="isAssesmentFound" fxFlex="2vw" fxLayoutAlign="start center">
                <mat-icon fxLayoutAlign="center center" class="acme-cs-mat-icon">
                    <svg class="acme-cs-mat-icon-default acme-sc-assigment-status" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 16.5c-.83 0-1.5-.67-1.5-1.5h3c0 .83-.67 1.5-1.5 1.5zm5-2.5H7v-1l1-1v-2.61C8 9.27 9.03 7.47 11 7v-.5c0-.57.43-1 1-1s1 .43 1 1V7c1.97.47 3 2.28 3 4.39V14l1 1v1z" />
                    </svg>
                </mat-icon>
            </div>
            <div *ngIf="isAssesmentFound" fxFlex="5vw" fxLayoutAlign="start center" class="acme-sc-owner-label">
                <span>{{userAssesment.status}}</span>
            </div>
            <!--Revieweed by-->
            <div *ngIf="isAssesmentFound" fxFlex="10vw" fxLayoutAlign="start center" class="acme-sc-owner-label">
                <span>{{'ROOM_ASSESSMENT_SUBMISSION_REVIEWED_BY'|translate}}
                    {{userAssesment.reviewerFirstName}}</span><span>{{userAssesment.reviewerLastName}}</span>
            </div>
            <!--submitted assignment-->
            <div *ngIf="isAssesmentFound" fxFlex="20vw" fxLayoutAlign="start center" class="acme-sc-owner-label">
                <span>{{'ROOM_ASSESSMENT_SUBMISSION_SUBMITTED_FILE'|translate}}</span><span
                    (click)="GetSubmittedFile()"
                    class="acme-sc-custom-link acme-sc-custom-submission">{{userAssesment.submittedFileName}}</span>
            </div>
        </div>
    </div>


    <!--no assigment evaluation found-->
    <div *ngIf="!isAssesmentFound && !isProgress" fxFlex fxFill>
        <div fxFlexFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2vh">
            <!--assignment not submitted icon-->
            <div fxFlex="10vh" fxFill fxLayoutAlign="center center">
                <div class="acme-sc-background-circle" fxLayoutAlign="center center">
                    <svg class="acme-ac-default-svg-small" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M19 3h-4.18C14.4 1.84 13.3 1 12 1c-1.3 0-2.4.84-2.82 2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-6 15h-2v-2h2v2zm0-4h-2V8h2v6zm-1-9c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1z" />
                    </svg>
                </div>
            </div>
            <div *ngIf="assesment.status ==='Active'" fxFlex="5vh" fxFill fxLayoutAlign="center center"
                class="acme-sc-label-default-message">
                <span>{{'ROOM_ASSESSMENT_SUBMISSION_NOT_SUBMITTED'|translate}}</span>
            </div>
            <div *ngIf="assesment.status ==='Scheduled'" fxFlex="5vh" fxFill fxLayoutAlign="center center"
                class="acme-sc-label-default-message">
                <span>{{'ROOM_ASSESSMENT_SUBMISSION_NOT_OPENED'|translate}}</span>
            </div>
            <!--turn in button-->
            <div *ngIf="assesment.status ==='Active'" fxFlex="7vh" fxFill fxLayoutAlign="center start">
                <div fxLayout="row" fxFlexFill fxLayoutAlign="center start">
                    <div fxFlex="13vw" fxFill fxLayoutAlign="center start">
                        <button fxFill mat-raised-button color="accent" (click)="turnInAssesment()"
                            class="acme-sc-button">{{'ROOM_ASSESSMENT_SUBMISSION_TURN_IN'|translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--assignment evlauation found-->
    <div *ngIf="isAssesmentFound && !isProgress" fxFlex fxFill>
        <ng-scrollbar thumbClass="white-scrollbars">
            <div style="padding-top:0.4vw">
                <div class="acme-sc-assesment-data-container">
                    <quill-view [content]="userAssesment.data"></quill-view>
                </div>
            </div>
            <div fxFlexFill fxLayout="row" style="padding-top: 1vh;">
                <div fxFlex="10vw">
                    <div *ngIf="userAssesment.status === 'Reviewed'"
                        class="acme-sc-owner-label">
                        <span>{{'ROOM_ASSESSMENT_SUBMISSION_REVIEWER_REMARK'|translate}}</span>
                    </div>
                </div>
                <div fxFlex="15vw">
                    <div *ngIf="userAssesment.status === 'Reviewed'"
                        class="acme-sc-owner-label">
                        <span>{{'ROOM_ASSESSMENT_SUBMISSION_REVIEWED_ON'|translate}}
                        </span><span>{{userAssesment.reviewedAt|date:'mediumDate'}}</span>
                    </div>
                </div>
                <!--Evaluated assignment-->
                <div *ngIf="isAssesmentFound && userAssesment.status === 'Reviewed'" fxFlex="20vw"
                    fxLayoutAlign="start center" class="acme-sc-owner-label">
                    <span>{{'ROOM_ASSESSMENT_SUBMISSION_EVALUATED_FILE'|translate}}</span><span
                        style="padding-left: 0.4vw;" (click)="GetEvaluatedFile()"
                        class="acme-sc-custom-link acme-sc-custom-submission">{{userAssesment.evaluatedFileName}}</span>
                </div>
                <!--Grade-->
                <div *ngIf="isAssesmentFound && userAssesment.status === 'Reviewed'" fxFlex="5vw"
                    fxLayoutAlign="start center" class="acme-sc-owner-label">
                    <span>{{'ROOM_ASSESSMENT_SUBMISSION_GRADE'|translate}}</span><span
                        class="acme-sc-grade-marks" style="padding-left:0.4vw">{{userAssesment.grade}}</span>
                </div>
                <!--marks-->
                <div *ngIf="isAssesmentFound && userAssesment.status === 'Reviewed'" fxFlex="10vw"
                    fxLayoutAlign="start center" class="acme-sc-owner-label">
                    <span>{{'ROOM_ASSESSMENT_SUBMISSION_MARKS'|translate}}</span><span
                        class="acme-sc-grade-marks" style="padding-left:0.4vw">{{userAssesment.marksObtained}} /
                        {{userAssesment.totalMarks}} </span>
                </div>
            </div>
            <div *ngIf="userAssesment.status === 'Reviewed'" style="padding-top:0.4vw">
                <div class="acme-sc-assesment-data-container">
                    <quill-view [content]="userAssesment.evaluatedData"></quill-view>
                </div>
            </div>
        </ng-scrollbar>
    </div>
</div>