@import '../../../shared/css/commom.scss';
@import '../../../shared/css/variables.scss';

.dark-theme {
    .acme-sc-assesment-data-container {
        background-color: #333333;
        border-radius: 0.4vw;
        padding:0.4vw;
        
    }
    .acme-sc-assigment-status {
        fill: seagreen !important;
        opacity: 1 !important;
    }
    ::ng-deep .ql-editor {
        color:$acme-sc-text-color-dark !important;
    }
}

.light-theme {
    .acme-sc-assesment-data-container {
        background-color: $acme-sc-room-inactive-background-color;
        border-radius: 0.4vw;
        padding:0.4vw;
        
    }
    .acme-sc-assigment-status {
        fill: darkgreen !important;
    }
    ::ng-deep .ql-editor {
        color:black !important;
    }
}

.acme-sc-custom-link {
    text-decoration: underline;
    cursor: pointer;
}

.acme-sc-custom-submission {
    color: $acme-sc-link-color;
}

.acme-sc-grade-marks {
    font-weight: bold;
    color: $acme-sc-company-label-color;
    font-size: 1vw;
}
