@import '../../../shared/css/commom.scss';

.acme-cs-display-box {
    padding:1.5vw
}
.acme-cs-share-button {
    height:7vh;
    width:20vw
}

.acme-sc-custom-title-heading {
    border-bottom-style: solid;
    border-bottom-color: goldenrod;
}

.acme-sc-activation-message-label {
    font-size: 0.8vw;
}

.acme-sc-account-email-label {
    font-size: 0.7vw;
    color: purple;
}
.acme-sc-get-room-details-label {
    font-size: 1vw;
    text-decoration: underline;
    cursor: pointer;
}

.acme-sc-activation-response-message {
    font-weight: bold;
    font-size: small;
    color:darkorange;
}