.acme-cs-display-box {
    padding:24px
}
.acme-ss-login-button {
    height:44px;
    width:256px
}

.acme-sc-account-email-label {
    font-size: small;
    color: purple;
}

.acme-sc-create-account-label {
    font-size: small;
    color: purple;
    font-weight: bold;
    font-style: italic;
}

.acme-sc-get-room-details-label {
    font-size: small;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.acme-sc-activation-response-message {
    font-weight: bold;
    font-size: small;
    color:darkorange;
}