<div fxFlexFill fxLayout="column" fxLayoutGap="1vh" [ngClass]="'dark-theme'">
    <div fxFlex="5vh" fxFill class="acme-cs-heading">
        <span>{{'ROOM_ASSESSMENT_DIALOG_SUBMISSION_TITLE'|translate}}</span>
    </div>
    <div fxFlex="7vh" fxFill>
        <div fxFlex fxFill>
            <form [formGroup]="submitAssesmentFormGroup" fxFill>
                <div fxFlexFill fxLayout="column">
                   
                     <!--File-->
                     <div fxFlex="9vh">
                        <label for="file-upload" class="acme-form-input-field custom-file-upload">
                            {{'ROOM_ASSESSMENT_DIALOG_SUBMISSION_ASSESSMENT_FILE'|translate}}
                        </label>
                        <input formControlName="fileControl" id="file-upload" type="file" required
                            class="form-control acme-form-input-field" (change)="onFileChange($event)"
                            accept=".pdf, .doc,.docx, .txt, .ppt, .pptx">
                        <div class="acme-sc-error" *ngIf="f.fileControl.errors?.required">{{'ROOM_ASSESSMENT_DIALOG_SUBMISSION_ASSESSMENT_FILE_REQUIRED'|translate}}</div>
                        <div class="acme-sc-file-name" style="padding-top: 1vh;">{{f.fileSourceControl.value.name}}</div>
                    </div>
               
                </div>
            </form>
        </div>
    </div>
    <!--Assignment Editor-->
    <div fxFlex="55vh" fxFill>
        <quill-editor fxFlexFill [(ngModel)]="assesmentContent" [modules]="modules"
            placeholder="{{'ROOM_ASSESSMENT_DIALOG_SUBMISSION_INSERT_COMMENT'|translate}}" [required]="true"></quill-editor>
    </div>
    <div fxFlex fxLayoutAlign="end end" fxFill>
        <div fxFlexFill fxLayout="column" fxLayoutAlign="end end">
            <div fxFill fxFlex="7vh">
                <div fxFlexFill fxLayout="row" fxLayoutGap="0.4vw">
                    <div fxFlex fxLayoutAlign="start end" fxFill>
                        <button fxFill mat-raised-button color="accent" class="acme-sc-button"
                            (click)="createAssesmentEvaluation()" [disabled]="assesmentContent.trim()==='' ||
                                !submitAssesmentFormGroup.controls['fileControl'].valid">
                            {{buttonLabel}}
                        </button>
                    </div>
                    <div fxFlex fxLayoutAlign="end end" fxFill>
                        <button fxFill mat-raised-button color="warn"
                            class="acme-sc-button acme-sc-assesment-submit-close-button"
                            (click)="cancelAssesmentSubmission()">
                            {{'ROOM_ASSESSMENT_DIALOG_SUBMISSION_BUTTON_LABEL_CANCEL'|translate}}
                        </button>
                    </div>
                </div>
            </div>
            <mat-progress-bar *ngIf="isProgress" mode="indeterminate"></mat-progress-bar>
        </div>
    </div>

</div>