@import '../../../../shared/css/commom.scss';
@import '../../../../shared/css/variables.scss';


.dark-theme {
    ::ng-deep .ql-editor {
        color:$acme-sc-text-color-dark !important;
    }
    ::ng-deep .ql-editor.ql-blank::before{
        color:$acme-sc-text-color-dark !important;
    }
}

.light-theme {
    ::ng-deep .ql-editor {
        color:black !important;
    }
    ::ng-deep .ql-editor.ql-blank::before{
        color:black !important;
    }
}
.acme-sc-assesment-submit-close-button {
    background-color: darkorange !important;
}

.custom-file-upload {
    border: 0.1vh solid #ccc;
    display: inline-block;
    padding: 0.7vw;
    cursor: pointer;
    border-radius: 1vh;
    background-color: $acme-sc-company-label-color;
    opacity: 0.7;
    color: white;
    font-size: 0.7vw
}

input[type="file"] {
    display: none;
}

::ng-deep .ql-tooltip {
    left:0 !important
}
::ng-deep .ql-editing {
    left:0 !important
}
::ng-deep .ql-container{
    height:82% !important
}