@import '../../../shared/css/commom.scss';
@import '../../../shared/css/variables.scss';


.dark-theme {
    .acme-sc-room-library-content-item {
        width:100%;
        height:12vh;
        padding:0.4vw;
        background-color: $acme-sc-secondary-background-dark;
        border-radius:0.5vw;
    }
}

.light-theme {
    .acme-sc-room-library-content-item {
        width:100%;
        height:12vh;
        padding:0.4vw;
        background-color: $acme-sc-room-inactive-background-color;
        border-radius:0.5vw;
    }
}




.acme-sc-library-content-chip {
    padding-left:0.5vw;
    font-size: 0.9vw;
}

::ng-deep .mat-chip-list-wrapper .mat-standard-chip {
    margin-right: 0.2vw !important;
    margin-left: 0.2vw !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
 }
 

.acme-sc-room-library-content-row {
    cursor: pointer;
}

