@import '../../../shared/css/commom.scss';
@import '../../../shared/css/variables.scss';


.dark-theme {
    .acme-sc-room-library-content-item {
        width:100%;
        height:12vh;
        padding:0.4vw;
        background-color: $acme-sc-secondary-background-dark;
        border-radius:0.5vw;
    }
    .acme-sc-library-content-chip {
        padding-left:0.5vw;
        font-size: 0.9vw;
        color: seagreen;
    }
}

.light-theme {
    .acme-sc-room-library-content-item {
        width:100%;
        height:12vh;
        padding:0.4vw;
        background-color: $acme-sc-room-inactive-background-color;
        border-radius:0.5vw;
    }
    
    .acme-sc-library-content-chip {
        padding-left:0.5vw;
        font-size: 0.9vw;
        color: black
    }

}


.acme-sc-room-library-content-row {
    cursor: pointer;
}

