.acme-sc-room-library-content-item {
    width:100%;
    height:7vw;
    padding: 0.4vw;
    background-color: whitesmoke;
    border-radius: 8px;
}

.acme-sc-room-library-content-title {
    color: steelblue;
    font-size: 1.1vw;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.acme-sc-room-library-content-title:hover{
    color:blue;
}

.acme-sc-library-content-chip {
    padding-left:8px;
    font-size: 0.9vw;
}

::ng-deep .mat-chip-list-wrapper .mat-standard-chip {
    margin-right: 4px !important;
    margin-left: 4px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
 }
 

.acme-sc-room-library-content-row {
    cursor: pointer;
}

.acme-sc-room-library-content-description {
    padding-left:8px;
    font-size: 0.8vw;
    font-style: italic;
    color: purple;
}

.acme-sc-room-library-content-owner {
    padding-left:8px;
    font-size: 0.7vw;
}
.acme-sc-room-library-content-createdOn {
    padding-left:8px;
    font-size: 0.7vw;
}
