@import '../../../shared/css/commom.scss';

.acme-sc-assignments-loadmore{
    font-size: 0.9vw;
    font-weight: normal;
    color: gray;
    cursor: pointer;
}
.acme-sc-assignments-action {
    cursor: pointer;
}
.acme-load-more-label {
    font-size: 1vw;
}
