@import '../../../shared/css/commom.scss';

.acme-sc-topic-comment-vote-up {
    fill: green;
}

.acme-sc-topic-comment-vote-down {
    fill: darkorange;
}

.acme-sc-topic-comment-container-footer {
    height: 4.2vh;
}

.acme-sc-topic-comment-container-footer-createdOn {
    font-size: 0.7vw;
    padding-left: 0.4vw;
    opacity: 1;
}

.acme-sc-topic-comment-vote {
    cursor: pointer;
}
.acme-sc-topic-comment-delete {
    cursor: pointer;
}
.acme-sc-topic-comment-vote-count {
    font-size: 0.9vw;
}