.acme-sc-topic-comment-container {
    background-color: whitesmoke;
    border-radius: 0.4vw;
    padding:0.4vw;
    
}

.acme-sc-topic-comment-container-footer {
    height: 4.2vh;
}

.acme-sc-topic-commennt-useful-label {
    font-size: 0.8vw;
    color:purple;
}
.acme-sc-topic-comment-container-footer-createdOn {
    font-size: 0.7vw;
    padding-left: 0.4vw;
}


.acme-sc-topic-comment-vote {
    cursor: pointer;
}
.acme-sc-topic-comment-delete {
    cursor: pointer;
}
.acme-sc-topic-comment-vote-count {
    font-size: 1vw;
}