<div fxFlexFill fxLayout="column">
    <!--Progress-->
    <div *ngIf="isProgress" fxFlex fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </div>

    <!--Server Error-->
    <div *ngIf="!isSuccessFull && !isProgress" fxFlexFill fxLayout="column" fxLayoutAlign="center center"
        fxLayoutGap="8px">
        <div fxFlex="90px" fxLayoutAlign="center  center">
            <mat-icon fxLayoutAlign="center center" style="height:48px;width:48px;color:darkorange">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24">
                    <path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" />
                </svg>
            </mat-icon>
        </div>
        <div fxFlex="24px" fxLayoutAlign="center center" style="font-size: normal;">
            <span>{{topicsResponseMessage}}</span>
        </div>
    </div>
    <!--Successfull call-->
    <div fxLayout="column" *ngIf="isSuccessFull && !isProgress" fxFlexFill>
        <!--Title row-->
        <div fxFlex="32px">
            <div fxFlexFill fxLayout="row" fxLayoutGap="8px">
                <div fxFlex="80px" fxLayoutAlign="start center" class="acme-sc-topic-title">
                    Topics
                </div>
                <!--Icon-->
                <div fxFlex="24px" fxLayoutAlign="start center">
                    <mat-icon fxLayoutAlign="center center" style="height:24px;width:24px" class="acme-cs-mat-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                            fill="purple">
                            <path d="M0 0h24v24H0V0z" fill="none" />
                            <path
                                d="M19 1l-5 5v11l5-4.5V1zM1 6v14.65c0 .25.25.5.5.5.1 0 .15-.05.25-.05C3.1 20.45 5.05 20 6.5 20c1.95 0 4.05.4 5.5 1.5V6c-1.45-1.1-3.55-1.5-5.5-1.5S2.45 4.9 1 6zm22 13.5V6c-.6-.45-1.25-.75-2-1v13.5c-1.1-.35-2.3-.5-3.5-.5-1.7 0-4.15.65-5.5 1.5v2c1.35-.85 3.8-1.5 5.5-1.5 1.65 0 3.35.3 4.75 1.05.1.05.15.05.25.05.25 0 .5-.25.5-.5v-1.1z" />
                        </svg>
                    </mat-icon>
                </div>
                <!--Refresh -->
                <div fxFlex="24px" fxLayoutAlign="start center" (click)="refreshTopicsList()">
                    <mat-icon matTooltip="Refresh topics list" fxLayoutAlign="center center"
                        style="height:24px;width:24px" class="acme-cs-mat-icon acme-sc-refresh-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                            fill="#000000">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z" />
                        </svg>
                    </mat-icon>
                </div>
                <div fxLayoutAlign="center center" *ngIf="room.status!=='Active'" fxFlex class="acme-sc-room-close-label">
                    <mat-icon matTooltip="Refresh topics list" fxLayoutAlign="center center"
                        style="height:24px;width:24px">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="red"><path d="M12 5.99L19.53 19H4.47L12 5.99M12 2L1 21h22L12 2zm1 14h-2v2h2v-2zm0-6h-2v4h2v-4z"/>
                        </svg>
                    </mat-icon>
                    <span>This room is no longer active !!!!</span>
                </div>
                <!-- new discussion button-->
                <div *ngIf="roomTopicsList.length > 0 && room.status === 'Active'" fxFlex fxLayoutAlign="end center">
                    <button mat-raised-button color="accent" (click)="createTopic()" class="acme-cs-login-button">Start
                        new discussion
                    </button>
                </div>
            </div>

        </div>
        <!--content-->
        <div fxFlex style="padding-top:32px">
            <!--Empty List-->
            <div *ngIf="roomTopicsList.length === 0" fxFlexFill fxLayout="column" fxLayoutAlign="center  center"
                fxLayoutGap="8px">
                <div fxFlex="90px" fxLayoutAlign="center  center">
                    <mat-icon class="acme-cs-mat-icon" fxLayoutAlign="center center" style="height:90px;width:90px;">
                        <svg xmlns="http://www.w3.org/2000/svg" height="90px" viewBox="0 0 24 24" width="90px"
                            fill="purple">
                            <path d="M0 0h24v24H0V0z" fill="none" />
                            <path
                                d="M19 1l-5 5v11l5-4.5V1zM1 6v14.65c0 .25.25.5.5.5.1 0 .15-.05.25-.05C3.1 20.45 5.05 20 6.5 20c1.95 0 4.05.4 5.5 1.5V6c-1.45-1.1-3.55-1.5-5.5-1.5S2.45 4.9 1 6zm22 13.5V6c-.6-.45-1.25-.75-2-1v13.5c-1.1-.35-2.3-.5-3.5-.5-1.7 0-4.15.65-5.5 1.5v2c1.35-.85 3.8-1.5 5.5-1.5 1.65 0 3.35.3 4.75 1.05.1.05.15.05.25.05.25 0 .5-.25.5-.5v-1.1z" />
                        </svg>
                    </mat-icon>
                </div>
                <div fxFlex="24px" fxLayoutAlign="center center" style="font-size: normal;">
                    <span>You don't have any topics to discuss, create new topic and start the discussion.</span>
                </div>
                <div fxFlex="48px" fxLayoutAlign="center start">
                    <button mat-raised-button color="accent" (click)="createTopic()" class="acme-cs-login-button">Start
                        new discussion
                    </button>
                </div>
            </div>
            <!--non empty list-->
            <div *ngIf="roomTopicsList.length > 0" fxFlexFill fxLayout="column" fxLayoutGap="8px">
                <div fxLayout="column" fxFlexFill>
                    <ng-scrollbar thumbClass="white-scrollbars">
                        <div fxLayout="column" fxFlexFill fxLayoutGap="8px">
                            <acme-sc-room-topic *ngFor="let topic of filteredRoomTopicsList" [topic]="topic"
                            [roomType]="roomType">
                            </acme-sc-room-topic>
                        </div>
                    </ng-scrollbar>
                </div>
            </div>
        </div>
    </div>
</div>
