.acme-sc-close-button {
    height:48px;
    width:100%
}

.acme-sc-room-details {
    font-size: small;
    font-weight: bold;
    color: purple;
}

.acme-sc-room-details-header {
    border-bottom-style: solid;
    border-bottom-color: goldenrod;
}
