<div fxFlexFill fxLayout="column" fxLayoutAlign="space-between">
    <div fxFlex="5vh" fxLayoutAlign="center start" class="acme-cs-heading">
        <span>Room Details</span>
    </div>
    <div fxFlex>
        <div fxFlexFill fxLayout="column" fxLayoutGap="0.4vw">
            <div *ngIf="isProgress" fxFlex fxLayoutAlign="center center">
                <mat-spinner></mat-spinner>
            </div>
            <!--server error-->
            <div *ngIf="!isProgress && !isSuccessFull" fxFlex fxLayoutAlign="center center">
                <acme-sc-server-error [errorMessage]="responseMessage"></acme-sc-server-error>
            </div>
            <!-- room public details successful-->
            <div *ngIf="!isProgress && isSuccessFull" fxFlex="15vh">
                <div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
                    <!--Room title-->
                    <div fxFlex fxFill>
                        <div fxFlexFill fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.4vw">
                            <div fxFlex="9vw" class="acme-sc-activation-message-label">
                                <span>Room Name:</span>
                            </div>
                            <div fxFlex class="acme-sc-room-details">
                                <span>{{roomDetails.title}}</span>
                            </div>
                        </div>

                    </div>
                    <!--Room description-->
                    <div fxFlex fxFill>
                        <div fxFlexFill fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.4vw">
                            <div fxFlex="9vw" class="acme-sc-activation-message-label">
                                <span>Room Description:</span>
                            </div>
                            <div fxFlex class="acme-sc-room-details">
                                <span>{{roomDetails.description}}</span>
                            </div>
                        </div>
                    </div>
                    <!--Room email-->
                    <div fxFlex fxFill>
                        <div fxFlexFill fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.4vw">
                            <div fxFlex="9vw" class="acme-sc-activation-message-label">
                                <span>Owner:</span>
                            </div>
                            <div fxFlex class="acme-sc-room-details">
                                <span>{{roomDetails.email}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!isProgress && isSuccessFull" fxFlex fxLayoutAlign="center center">
                <div fxFlexFill fxLayout="column" fxLayoutAlign="end end">
                    <div fxFill fxFlex="7vh">
                        <button fxFill class=" acme-sc-button acme-sc-close-button" mat-raised-button color="accent"
                            (click)="close()">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>