@import '../../../../shared/css/commom.scss';

.acme-sc-close-button {
    width:20vw
}

.acme-sc-activation-message-label {
    font-size: 1vw;
}

.acme-sc-room-details {
    font-size: 0.8vw;

}

.acme-sc-room-details-header {
    border-bottom-style: solid;
    border-bottom-color: goldenrod;
}
