.acme-sc-user-popup-container {
   padding:1vw
}

.acme-sc-user-popup-card {
    padding:0;
    background-color: whitesmoke;
}

.acme-sc-userName {
    font-size:1.5vw;
}
.acme-sc-email {
    font-size:1vw;
}
.acme-sc-logout-button{
    font-size:1vw;
    width:100%;
    padding:0.4vw;
    line-height: 0;
}
