.acme-sc-user-popup-container {
   padding:16px
}

.acme-sc-user-popup-card {
    padding:0;
    background-color: whitesmoke;
}

.acme-sc-userName {
    font-size: x-large;
}
.acme-sc-email {
    font-size: small;
}
