.acme-sc-navigation-item-title {
    
    opacity: 0.7;
    font-size: 1.6vw;
}

.acme-sc-company-label {
    font-size:0.66vw;
    color: purple;
    background-color:#fafafa;
    border-color: lightgray;
    border-width: 0.5px;
    border-right-style: solid;
}
