<div fxFlexFill fxLayout="row">
    <div fxFlex="20vw">
        <div fxFlexFill fxLayout="column">
            <div  fxFlex>
                <acme-sc-navigation-sidebar (navigationItemSelected)="navigationItemSelected($event)"></acme-sc-navigation-sidebar>
            </div>
            <div class="acme-sc-company-label"  fxFlex="5vh" fxLayoutAlign="center center">
                <span>Powered By: <b>Bitstone Infotech</b> </span>
            </div>
        </div>
    </div>
    <div fxFlex  class="acme-sc-container">
        <div fxFlexFill fxLayout="column" fxLayoutGap="1vh">
            <div fxFlex="5vh">
                <acme-sc-main-header [userNickName]="nickName" [userFullName]="fullName"
                    [placeHolder]="translateService.instant('EXPLORER_SEARCH_LABEL')"
                    (userNameClicked)="userNameClicked($event)"
                    (searchTextchange)="searchTextchange($event)"></acme-sc-main-header>
            </div>
            <div fxFlex="5vh" fxLayoutAlign="start center" class="acme-sc-navigation-item-title" style="padding-left:0.4vw">
                {{selectedNavigationItem}}
            </div>
            <div fxFlex>
                <acme-sc-rooms-list [filterText]="filterText" [roomType]="selectedNavigationItem" [loggedInUser]="email"></acme-sc-rooms-list>
            </div>
        </div>
    </div>
</div>