<div fxFlexFill fxLayout="row">
    <div fxFlex="20%" fxFlex.md="25%">
        <div fxFlexFill fxLayout="column">
            <div  fxFlex>
                <acme-sc-navigation-sidebar (navigationItemSelected)="navigationItemSelected($event)"></acme-sc-navigation-sidebar>
            </div>
            <div class="acme-sc-company-label"  fxFlex="32px" fxLayoutAlign="center center">
                <span>Powered By: <b>Bitstone Infotech</b> </span>
            </div>
        </div>
    </div>
    <div fxFlex  class="acme-sc-container">
        <div fxFlexFill fxLayout="column" fxLayoutGap="16px">
            <div fxFlex="48px">
                <acme-sc-main-header [userNickName]="nickName" [userFullName]="fullName"
                    [placeHolder]="'Start searching for a room by name'"
                    (userNameClicked)="userNameClicked($event)"
                    (searchTextchange)="searchTextchange($event)"></acme-sc-main-header>
            </div>
            <div fxFlex="32px" fxLayoutAlign="start center" class="acme-sc-navigation-item-title">
                {{selectedNavigationItem}}
            </div>
            <div fxFlex>
                <acme-sc-rooms-list [filterText]="filterText" [roomType]="selectedNavigationItem" [loggedInUser]="email"></acme-sc-rooms-list>
            </div>
        </div>
    </div>
</div>