@import '../../../shared/css/commom.scss';


.acme-sc-achievement-icon {
    height: 3vh;
    width:2vw;
}

.acme-sc-achievement-bar-card-Title {
    font-size:large;
    opacity: 0.7;
}

.acme-sc-badge-earned {
    font-size: small;
    color: cadetblue;
    font-weight: bold;
    padding:24px;
    font-style: italic;
}
