<div fxFlexFill fxLayout="column" fxLayoutGap="0.4vw">
    <div fxFlex="5vh" fxFill class="acme-cs-heading">
        <span>{{dialogTitle}}</span>
    </div>
    <!--details-->
    <div fxFlex="30vh" fxFill>
        <div fxFlex fxFill>
            <form [formGroup]="createAssignmentFormGroup" fxFill>
                <div fxFlexFill fxLayout="column" fxLayoutGap="1vh">
                    <!--File-->
                    <div fxFlex="5vh">
                        <label for="file-upload" class="acme-form-input-field custom-file-upload">
                            {{'ROOM_ASSIGNMENT_DIALOG_ASSIGNMENT_FILE'|translate}}
                        </label>
                        <input formControlName="fileControl" id="file-upload" type="file" required
                            class="form-control acme-form-input-field" (change)="onFileChange($event)"
                            accept=".pdf, .doc,.docx, .txt, .ppt, .pptx">
                        <div class="acme-sc-error" *ngIf="f.fileControl.errors?.required && fileName===''">{{'ROOM_ASSIGNMENT_DIALOG_ASSIGNMENT_FILE_REQUIRED'|translate}}</div>
                        <div class="acme-sc-file-name">{{fileName}}</div>
                    </div>
                    <!--topic title-->
                    <div fxFlex="9vh" fxFill>
                        <div fxFlexFill fxLayout="row" fxLayoutGap="1vw">
                            <!--Assignment title-->
                            <div fxFlex="70%" fxFill>
                                <mat-form-field class="form-field acme-form-input-field" fxFill>
                                    <mat-label class="acme-form-input-field">
                                        {{'ROOM_ASSIGNMENT_DIALOG_ASSIGNMENT_TITLE'|translate}}
                                    </mat-label>
                                    <input class="acme-form-input-field" required matInput placeholder="{{'ROOM_ASSIGNMENT_DIALOG_ASSIGNMENT_TITLE'|translate}}"
                                        formControlName="titleControl" autocomplete="off">
                                    <mat-error class="acme-form-input-field acme-sc-error" *ngIf="createAssignmentFormGroup.controls['titleControl'].errors?.required ||
                                        createAssignmentFormGroup.controls['titleControl'].errors?.whiteSpace">
                                        {{'ROOM_ASSIGNMENT_DIALOG_ASSIGNMENT_TITLE_REQUIRED'|translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <!--Assignment Expiry date-->
                            <div fxFlex="30%" fxFill>
                                <mat-form-field class="form-field acme-form-input-field" fxFill>
                                    <mat-label class="acme-form-input-field">{{'ROOM_ASSIGNMENT_DIALOG_ASSIGNMENT_EXPIRY_DATE'|translate}}</mat-label>
                                    <input class="acme-form-input-field" required matInput [matDatepicker]="picker"
                                        formControlName="expiryDateControl" [min]="minDate">
                                    <mat-datepicker-toggle class="acme-sc-expiry-date-icon" matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-error class="acme-form-input-field acme-sc-error"
                                        *ngIf="createAssignmentFormGroup.controls['titleControl'].errors?.required">
                                        {{'ROOM_ASSIGNMENT_DIALOG_ASSIGNMENT_EXPIRY_DATE_REQUIRED'|translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <!--Assignment description-->
                    <div fxFlex="9vh" fxFill>
                        <mat-form-field class="form-field acme-form-input-field" fxFill>
                            <mat-label class="acme-form-input-field">
                                {{'ROOM_ASSIGNMENT_DIALOG_ASSIGNMENT_DESCRIPTION'|translate}}
                            </mat-label>
                            <input class="acme-form-input-field" required matInput placeholder="{{'ROOM_ASSIGNMENT_DIALOG_ASSIGNMENT_DESCRIPTION'|translate}}"
                                formControlName="descriptionControl" autocomplete="off">
                            <mat-error class="acme-form-input-field acme-sc-error" *ngIf="createAssignmentFormGroup.controls['descriptionControl'].errors?.required ||
                                createAssignmentFormGroup.controls['descriptionControl'].errors?.whiteSpace">
                               {{'ROOM_ASSIGNMENT_DIALOG_ASSIGNMENT_DESCRIPTION_REQUIRED'|translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--Assignment Editor-->
    <div fxFlex="30vh" fxFill>
        <quill-editor class="acme-form-input-field" fxFlexFill [(ngModel)]="assignmentContent" [modules]="modules"
            placeholder="{{'ROOM_ASSIGNMENT_DIALOG_ASSIGNMENT_INSERT_DETAILS_LABEL'|translate}}" [required]="true"></quill-editor>
    </div>
    <div fxFlex fxLayoutAlign="end end" fxFill>
        <div fxFlexFill fxLayout="column" fxLayoutAlign="end end">
            <div fxFill fxFlex="7vh">
                <div fxFlexFill fxLayout="row" fxLayoutGap="0.4vw">
                    <div fxFlex fxLayoutAlign="start end" fxFill>
                        <button fxFill mat-raised-button color="accent" class="acme-sc-button"
                            (click)="createUpdateAssignment()" [disabled]="!createAssignmentFormGroup.controls['titleControl'].valid ||
                                !createAssignmentFormGroup.controls['descriptionControl'].valid ||
                                !createAssignmentFormGroup.controls['expiryDateControl'].valid||
                                assignmentContent.trim()===''">
                            {{buttonLabel}}
                        </button>
                    </div>
                    <div fxFlex fxLayoutAlign="end end" fxFill>
                        <button fxFill mat-raised-button color="warn"
                            class=" acme-sc-button acme-sc-assignment-creation-close-button"
                            (click)="cancelAssignmentCreation()">
                            {{'ROOM_ASSIGNMENT_DIALOG_ASSIGNMENT_BUTTON_CANCEL_LABEL'|translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <mat-progress-bar *ngIf="isProgress" mode="indeterminate"></mat-progress-bar>
</div>