<div fxFlexFill fxLayout="column" fxLayoutGap="0.4vw">
    <div fxFlex="5vh" fxFill class="acme-cs-heading">
        <span>Create new Assignment</span>
    </div>
    <!--details-->
    <div fxFlex="20vh" fxFill>
        <div fxFlex fxFill>
            <form [formGroup]="createAssignmentFormGroup" fxFill>
                <div fxFlexFill fxLayout="column">
                    <!--topic title-->
                    <div fxFlex="9vh" fxFill>
                        <div fxFlexFill fxLayout="row" fxLayoutGap="1vh">
                            <!--Assignment title-->
                            <div fxFlex="70%" fxFill>
                                <mat-form-field  class="form-field acme-form-input-field" fxFill>
                                    <mat-label class="acme-form-input-field">
                                        Title
                                    </mat-label>
                                    <input class="acme-form-input-field" required matInput placeholder="Title"
                                        formControlName="titleControl" autocomplete="off">
                                    <mat-error class="acme-form-input-field" *ngIf="createAssignmentFormGroup.controls['titleControl'].errors?.required ||
                                        createAssignmentFormGroup.controls['titleControl'].errors?.whiteSpace">
                                        Title is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <!--Assignment Expiry date-->
                            <div fxFlex="30%" fxFill>
                                <mat-form-field class="form-field acme-form-input-field" fxFill>
                                    <mat-label class="acme-form-input-field">Choose a expiry date</mat-label>
                                    <input class="acme-form-input-field" required matInput [matDatepicker]="picker"
                                        formControlName="expiryDateControl" [min]="minDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-error class="acme-form-input-field"
                                        *ngIf="createAssignmentFormGroup.controls['titleControl'].errors?.required">
                                        Expiry date is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <!--Assignment description-->
                    <div fxFlex="9vh" fxFill>
                        <mat-form-field class="form-field acme-form-input-field" fxFill>
                            <mat-label class="acme-form-input-field">
                                Description
                            </mat-label>
                            <input class="acme-form-input-field" required matInput placeholder="Description"
                                formControlName="descriptionControl" autocomplete="off">
                            <mat-error class="acme-form-input-field" *ngIf="createAssignmentFormGroup.controls['descriptionControl'].errors?.required ||
                                createAssignmentFormGroup.controls['descriptionControl'].errors?.whiteSpace">
                                Description is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--Assignment Editor-->
    <div fxFlex="45vh" fxFill>
        <quill-editor class="acme-form-input-field" fxFlexFill [(ngModel)]="assignmentContent" [modules]="modules" placeholder="Insert details here ..."
        [required]="true"></quill-editor>
    </div>
    <div fxFlex="7vh" fxLayoutAlign="end end" fxFill>
        <div fxFlexFill fxLayout="column" fxLayoutAlign="end end">
            <div fxFill fxFlex="7vh">
                <div fxFlexFill fxLayout="row" fxLayoutGap="0.4vw">
                    <div fxFlex fxLayoutAlign="start end" fxFill>
                        <button fxFill mat-raised-button color="accent" class="acme-sc-button"
                            (click)="createUpdateAssignment()" [disabled]="!createAssignmentFormGroup.controls['titleControl'].valid ||
                                !createAssignmentFormGroup.controls['descriptionControl'].valid ||
                                !createAssignmentFormGroup.controls['expiryDateControl'].valid||
                                assignmentContent.trim()===''">
                                {{buttonLabel}}
                        </button>
                    </div>
                    <div fxFlex fxLayoutAlign="end end" fxFill>
                        <button fxFill mat-raised-button color="warn" class=" acme-sc-button acme-sc-assignment-creation-close-button"
                            (click)="cancelAssignmentCreation()">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
     
    </div>
    <mat-progress-bar *ngIf="isProgress" mode="indeterminate"></mat-progress-bar>
</div>