@import './variables.scss';

.acme-cs-mat-card {
    border-radius: 16px !important;
    padding: 0 !important;
}

.acme-sc-container {
    padding: 3vh;
 }
.acme-sc-custom-container{
    border-radius: 20px !important;
    padding: 3vh !important;
 }
.acme-cs-mat-icon {
    opacity: 0.5
}

.acme-cs-mat-icon-pointer {
    opacity: 0.7;
    cursor: pointer;
}

.acme-cs-mat-icon-darker {
    opacity: 0.7
}
.acme-cs-mat-icon-default {
    height:3vh;
    width: 2vw;
}

.acme-cs-mat-start-icon {
    fill: $acme-sc-start-color;
}

.acme-cs-mat-stop-icon {
    fill: $acme-sc-stop-color;
}
.acme-cs-navigation-item-icon {
    opacity: 0.7;
    fill:$acme-sc-company-label-color;
}

.acme-sc-menu-button {
    width:2vw;
    height:4vh;
}
.acme-cs-heading {
    text-align: center;
    font-size: 1.5vw ;
    font-weight: 400;
}

.acme-sc-company-title {
    font-size:1.2vw;
}

.acme-sc-company-sub-title {
    font-size:0.66vw;
    color: $acme-sc-company-label-color;
    background-color:$acme-sc-navigation-bar-background-color;
    border-color: $acme-sc-navigation-bar-border-color;
}


.acme-sc-company-label {
    font-size:0.66vw;
    color: $acme-sc-company-label-color;
    background-color:$acme-sc-navigation-bar-background-color;
    border-color: $acme-sc-navigation-bar-border-color;
    border-width: 0.5px;
    border-right-style: solid;
}

.acme-sc-owner-label {
    padding-left:0.5vw;
    font-size: 0.7vw;
}

.acme-sc-room-user-name {
    color:$acme-sc-company-label-color;
}

.acme-sc-primary-color {
    color:$acme-sc-company-label-color;
}

.acme-sc-date-label {
    padding-left:0.5vw;
    font-size: 0.7vw;
}

.acme-sc-content-link {
    cursor: pointer;
    color: steelblue;
    font-size: 1vw;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.acme-sc-content-description {
    padding-left:0.5vw;
    font-size: 0.8vw;
    font-style: italic;
    color: purple;
}

.acme-sc-content-link:hover{
    color:blue;
}

.acme-sc-file-name {
    font-size: 0.7vw;
    color:blue;
}

.acme-sc-navigation-item-title {
    
    opacity: 0.7;
    font-size: 1.2vw;
}


.acme-sc-navigation-side-bar-title {
    font-size:1vw;
}


.acme-sc-navigation-side-bar {
    border-width: 0.5px;
    border-right-style: solid;
    background-color:$acme-sc-navigation-bar-background-color;
    border-color:$acme-sc-navigation-bar-border-color;
}

.acme-sc-navigation-side-bar-item {
    width:19vw;
    height:4vw;
    padding-top:0.4vw;
    padding-bottom: 0.5vh;
    border-radius:0.5vw;
    border-style: solid;
    border-color: $acme-sc-navigation-bar-item-border-color;
}

.acme-sc-navigation-side-bar-item-container{
    background-color: $acme-sc-navigation-bar-item-color;
    cursor:pointer;
}
.acme-sc-navigation-side-bar-item-container-default{
    background-color: $acme-sc-navigation-bar-background-color;
    cursor:pointer
}
.acme-sc-navigation-side-bar-item-selection-bar{
    background-color: $acme-sc-company-label-color;
}
.acme-sc-navigation-side-bar-item-selection-bar-default{
    background-color: $acme-sc-navigation-bar-background-color;
}
.acme-sc-navigation-side-bar-item-text {
    color: black;
    font-size: 1vw;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}
.acme-sc-navigation-side-bar-item-text-default {
    opacity:0.5;
    color: black;
    font-size: 1vw;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}
.acme-sc-navigation-side-bar-item-icon-selected {
    color: black;
    opacity:0.7
}

.acme-sc-label-default-message {
    font-size: 1vw;
}

.acme-sc-room-close-label {
    font-size:1vw;
    background-color: $acme-sc-room-inactive-background-color;
    opacity: 0.7;
}

.acme-sc-dialog-box {
    padding:16px !important
}
.acme-sc-custom-container .mat-dialog-container {
    border-radius: 20px !important;
 }

.acme-sc-apps-menu-item {
    font-size:0.8vw;
}

 
.acme-form-input-field {
    font-size: 1.0vw;
}
.acme-sc-button {
    font-size: 0.8vw;
    padding:0.4vw;
    line-height: 0;
}
.acme-sc-tab {
    opacity: 0.5;
    font-size:1vw
}
.acme-sc-user-info {
    font-size: 0.7vw;
    font-style: italic;
    opacity: 0.7;
}
.acme-sc-error {
    margin-top:0.5vh;
    font-size: 0.5vw;
    color:red;
}
.mat-raised-button.mat-warn {
    background-color: darkorange !important;
}

.custom-file-upload {
    border: 0.1vh solid #ccc;
    display: inline-block;
    padding: 0.7vw;
    cursor: pointer;
    border-radius: 1vh;
    background-color: $acme-sc-company-label-color;
    opacity: 0.7;
    color: white;
    font-size: 0.7vw
}

input[type="file"] {
    display: none;
}

.acme-sc-custom-link {
    text-decoration: underline;
    cursor: pointer;
}

.acme-sc-custom-link-color {
    color: $acme-sc-link-color;
}

::ng-deep .mat-checkbox-inner-container {
    height: 1vw !important;
    width:1vw !important;
}

::ng-deep .mat-dialog-container {
    padding: 3vh !important;
}

::ng-deep .material-icons {
    font-size: 1vw !important;
}

::ng-deep .material-icons-outlined {
    font-size: 3vh !important;
}