.acme-cs-mat-card {
    border-radius: 16px !important;
    padding: 0 !important;
}
.acme-cs-mat-icon {
    opacity: 0.5
}

.acme-cs-mat-icon-pointer {
    opacity: 0.7;
    cursor: pointer;
}

.acme-cs-mat-icon-darker {
    opacity: 0.7
}
.acme-cs-heading {
    text-align: center !important;
    font-size: 1.5vw !important;
    font-weight: 400 !important;
}

.acme-sc-dialog-box {
    padding:16px !important
}
.acme-sc-custom-container .mat-dialog-container {
    border-radius: 20px !important;
 }
 .acme-sc-container {
    padding: 1.5vw;
 }
 
.acme-form-input-field {
    font-size: 1.0vw;
}
.acme-sc-button {
    font-size: 0.8vw;
    padding:0.4vw;
    line-height: 0;
}
.mat-raised-button.mat-warn {
    background-color: darkorange !important;
}

::ng-deep .mat-checkbox-inner-container {
    height: 1vw !important;
    width:1vw !important;
}