// variables
$container-padding: 1.5vw;

$acme-sc-company-label-color: purple;
$acme-sc-beta-feature-color: darkgreen;
$acme-sc-room-owner-color: #5f6368;
$acme-sc-button-color: white;

$acme-sc-custom-button-border-color-selected: darkgray;
$acme-sc-custom-button-border-color-default: darkgray;
$acme-sc-custom-button-background-color-selected: purple;
$acme-sc-custom-button-background-color-default: #fafafa;
$acme-sc-custom-button-color-selected: white;
$acme-sc-custom-button-color-default: darkgray;


$acme-sc-navigation-bar-background-color: #fafafa;
$acme-sc-room-inactive-background-color: whitesmoke;
$acme-sc-navigation-bar-item-color: #f1f1f1;
$acme-sc-navigation-bar-item-border-color: white;
$acme-sc-navigation-bar-border-color:lightgray;
$acme-sc-navigation-bar-border-width:0.5px;
$acme-sc-button-color: deeppink;
$acme-sc-start-color: darkgreen;
$acme-sc-stop-color: red;
$acme-sc-link-color: steelblue;