.acme-sc-room-topic-views-count {
    font-size: 0.9vw;
    font-weight: bold;
    opacity: 0.5;
}

.acme-sc-room-topic-views-label {
    font-size: 0.7vw;
}

.acme-sc-room-topic-views-container {
    background-color: whitesmoke;
    border-radius: 0.4vw;
}
