.acme-sc-room-user-item {
    width:100%;
    height:60px;
    padding-top:4px;
    padding-bottom: 4px;
    border-radius: 8px;
    border-style: solid;
    border-color: white;
    font-weight: bold;
}

.acme-sc-room-user-name {
    font-size:small;
    color:purple;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    font-weight: bold;
}

.acme-sc-room-user-email {
    font-size:x-small;
    color:green;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.acme-sc-room-user-remove-icon {
    cursor: pointer;
    padding-right: 8px;
}
.UserInfoCircle {
    width: 24px;
    height: 24px;
    line-height: 500px;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background: lightgray;
}