@import '../../../shared/css/commom.scss';
@import '../../../shared/css/variables.scss';

.acme-sc-room-user-remove-icon {
    cursor: pointer;
    padding-right: 0.4vw;
}
.UserInfoCircle {
    width: 1.6vw;
    height: 1.6vw;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    background: lightgray;
}

.acme-sc-room-user-approve-link {
    font-size: x-small;
    color: darkgreen;
    text-decoration: underline;
    cursor: pointer;
}

.acme-sc-room-user-pending-link {
    font-size: x-small;
    color: darkgreen;
}
.acme-sc-room-user-reject-link {
    font-size: x-small;
    color: red;
    text-decoration: underline;
    cursor: pointer;
    padding-left: 32px;
}