.acme-sc-room-type-text {
    cursor: pointer;
    text-decoration-line: underline;
}

.acme-sc-room-home {
    cursor: pointer;
    text-decoration-line: underline;
    color:purple
}

.acme-sc-room-owner-name {
    font-weight: normal;
    color: #5f6368;
}

.acme-sc-room-details-header{
    font-size: small;
    font-weight: bold;
}

.acme-sc-room-library {
    opacity:0.7;
    cursor: pointer;
}
.acme-sc-beta-label {
    font-size: x-small;
    color: green;
    padding-left: 4px;
}

.acme-sc-company-label {
    font-size: x-small;
    color: purple;
    background-color:#fafafa;
    border-color: lightgray;
    border-width: 0.5px;
    border-right-style: solid;
}