.acme-sc-room-type-text {
    cursor: pointer;
    text-decoration-line: underline;
}

.acme-sc-room-owner-name {
    font-weight: normal;
    color: #5f6368;
}

.acme-sc-room-details-header{
    font-size: small;
    font-weight: bold;
}
