<div fxFlexFill fxLayout="column" fxLayoutGap="1.4vh" class="acme-sc-room-achievements-container">
    <div fxFlex="16.7vh" fxFill>
        <div fxFlexFill fxLayout="row" fxFill fxLayoutGap="0.4vw">
            <div fxFlex="20vw" class="acme-sc-custom-company-header">
                <acme-sc-company-header></acme-sc-company-header>
            </div>
            <div fxFlex>
                <div fxFlexFill fxLayout="column" fxLayoutGap="1vh">
                    <div fxFlex="9vh" fxFill>
                        <acme-sc-main-header [userNickName]="nickName" [userFullName]="fullName" [placeHolder]="''"
                            [title]="'Achievements'" [dislaySearchBox]="showSearchBox">
                        </acme-sc-main-header>
                    </div>
                    <div fxFlex="7vh" style="cursor: pointer;" class="acme-sc-navigation-side-bar-item-text"
                        fxLayoutAlign="start end" (click)="gotoRooms()">
                        <span><u>Go to Rooms</u></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Progress-->
    <div *ngIf="isProgress" fxFlex fxFill fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!isSuccessFull && !isProgress" fxFlex fxFill fxLayoutAlign="center center">
        <acme-sc-server-error [errorMessage]="achievementsResponseMessage"></acme-sc-server-error>
    </div>
    <div fxFlex="38vh" fxFill *ngIf="isSuccessFull && !isProgress">
        <div fxFlexFill fxLayout="row" fxLayoutGap="1vw">
            <!--posted topics-->
            <div fxFlex>
                <acme-sc-achievement-card [data]="topicsPostedData" [min]="'0'" [max]="topicsMax"
                    [chartTitle]="topicsChartTitle" [chartHeading]="'Topics'"
                    [userLevelMessage]="topicsUserLevelMessage" [badgesEarned]="topicsBadgesEarned"
                    [iconName]="'auto_stories'" [color]="'darkgray'">
                </acme-sc-achievement-card>
            </div>
            <!--posted comments-->
            <div fxFlex>
                <acme-sc-achievement-card [data]="commentsPostedData" [min]="'0'" [max]="commentsMax"
                    [chartTitle]="commentsChartTitle" [chartHeading]="'Comments'"
                    [userLevelMessage]="commentsUserLevelMessage" [badgesEarned]="commentsBadgesEarned"
                    [iconName]="'comment'" [color]="'darkgray'">
                </acme-sc-achievement-card>
            </div>
        </div>
    </div>
    <div fxFlex="38vh" fxFill *ngIf="isSuccessFull && !isProgress">
        <div fxFlexFill fxLayout="row" fxLayoutGap="1vw">
            <!--Thumbs up topics-->
            <div fxFlex>
                <acme-sc-achievement-card [data]="thumbsUpdData" [min]="'0'" [max]="thumbsUpMax"
                    [chartTitle]="thumbsUpChartTitle" [chartHeading]="'Likes'"
                    [userLevelMessage]="thumbsUpUserLevelMessage" [badgesEarned]="thumbsUpBadgesEarned"
                    [iconName]="'thumb_up'" [color]="'darkgray'">

                </acme-sc-achievement-card>
            </div>
            <div fxFlex>

            </div>
        </div>
    </div>
</div>