<div fxFlexFill fxLayout="column" fxLayoutGap="1vh">
    <div fxFlex="5%" fxFill class="acme-cs-heading">
        <span>Submit Assignment</span>
    </div>
    <!--Assignment Editor-->
    <div fxFlex="0 0 84%" fxFill>
        <quill-editor fxFlexFill [(ngModel)]="assignmentContent" [modules]="modules" placeholder="Insert details here ..."
        [required]="true"></quill-editor>
    </div>

    <div fxFlex fxLayoutAlign="end end" fxFill>
        <div fxFlexFill fxLayout="row" fxLayoutGap="0.4vw">
            <div fxFlex fxLayoutAlign="start end" fxFill>
                <button mat-raised-button color="accent" class="acme-sc-assignment-submit-confirm-button"
                    (click)="createUpdateAssignment()" [disabled]="assignmentContent.trim()===''">
                        {{buttonLabel}}
                </button>
            </div>
            <div fxFlex fxLayoutAlign="end end" fxFill>
                <button mat-raised-button color="warn" class="acme-sc-assignment-submit-close-button"
                    (click)="cancelAssignmentSubmission()">
                    Cancel
                </button>
            </div>
        </div>
    </div>
    <mat-progress-bar *ngIf="isProgress" mode="indeterminate"></mat-progress-bar>
</div>