<div fxFlexFill fxLayout="column" fxLayoutGap="1vh">
    <div fxFlex="5vh" fxFill class="acme-cs-heading">
        <span>{{'ROOM_ASSIGNMENT_DIALOG_SUBMIT_ASSIGNMENT_LABEL'|translate}}</span>
    </div>
    <div fxFlex="7vh" fxFill>
        <div fxFlex fxFill>
            <form [formGroup]="submitAssignmentFormGroup" fxFill>
                <div fxFlexFill fxLayout="column">
                        <!--File-->
                        <div fxFlex="9vh">
                            <label for="file-upload" class="acme-form-input-field custom-file-upload">
                                {{'ROOM_ASSIGNMENT_DIALOG_SUBMIT_ASSIGNMENT_FILE'|translate}}
                            </label>
                            <input formControlName="fileControl" id="file-upload" type="file" required
                                class="form-control acme-form-input-field" (change)="onFileChange($event)"
                                accept=".pdf, .doc,.docx, .txt, .ppt, .pptx">
                            <div class="acme-sc-error" *ngIf="f.fileControl.errors?.required">{{'ROOM_ASSIGNMENT_DIALOG_SUBMIT_ASSIGNMENT_FILE_REQUIRED'|translate}}</div>
                            <div class="acme-sc-file-name">{{f.fileSourceControl.value.name}}</div>
                        </div>
                </div>
            </form>
        </div>
    </div>
    <!--Assignment Editor-->
    <div fxFlex="46vh" fxFill>
        <quill-editor fxFlexFill [(ngModel)]="assignmentContent" [modules]="modules" placeholder="{{'ROOM_ASSIGNMENT_DIALOG_SUBMIT_ASSIGNMENT_INSERT_DETAILS_LABEL'|translate}}"
        [required]="true"></quill-editor>
    </div>

    <div fxFlex fxLayoutAlign="end end" fxFill>
        <div fxFlexFill fxLayout="column" fxLayoutAlign="end end">
            <div fxFill fxFlex="7vh">
                <div fxFlexFill fxLayout="row" fxLayoutGap="0.4vw">
                    <div fxFlex fxLayoutAlign="start end" fxFill>
                        <button fxFill mat-raised-button color="accent" class="acme-sc-button"
                            (click)="createUpdateAssignment()" [disabled]="!assignmentContent || assignmentContent.trim()===''">
                                {{buttonLabel}}
                        </button>
                    </div>
                    <div fxFlex fxLayoutAlign="end end" fxFill>
                        <button fxFill mat-raised-button color="warn" class="acme-sc-button acme-sc-assignment-submit-close-button"
                            (click)="cancelAssignmentSubmission()">
                            {{'ROOM_ASSIGNMENT_DIALOG_SUBMIT_ASSIGNMENT_BUTTON_LABEL_CANCEL'|translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
     
    </div>
    <mat-progress-bar *ngIf="isProgress" mode="indeterminate"></mat-progress-bar>
</div>