@import '../../../shared/css/commom.scss';

.roomCountInfoCircle {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    font-size: 1vw;
    color: white;
    text-align: center;
    background:gray;
    border-color: goldenrod;
    border-style: solid;
}

.acme-sc-room-card-margin {
    margin-top:2vh
}