@import '../../../../shared/css/commom.scss';
@import '../../../../shared//css//variables.scss';

.acme-sc-assignment-submit-close-button {
    background-color: darkorange !important;
}

.acme-sc-assignment-evaluation-stars {
    cursor: pointer;
}

.acme-sc-submit-item{
    background-color: $acme-sc-custom-button-background-color-selected;
    cursor:pointer;
    border-radius: 0.5vw;
    border-style: solid;
    border-color: $acme-sc-custom-button-border-color-selected;
    font-weight: bold;
    color: $acme-sc-custom-button-color-selected;
    font-size: 0.8vw;
}
.acme-sc-submit-item-default{
    background-color:$acme-sc-custom-button-background-color-default;
    cursor:pointer;
    border-radius: 0.5vw;
    border-style: solid;
    border-color: $acme-sc-custom-button-border-color-default;
    color: $acme-sc-custom-button-color-default;
    font-size: 0.8vw;
}

.acme-sc-return-item{
    background-color: $acme-sc-custom-button-background-color-selected;
    cursor:pointer;
    border-radius:0.5vw;
    border-style: solid;
    border-color: $acme-sc-custom-button-border-color-selected;
    font-weight: bold;
    color: $acme-sc-custom-button-color-selected;
    font-size: 0.8vw;
}
.acme-sc-return-item-default{
    background-color: $acme-sc-custom-button-background-color-default;
    cursor:pointer;
    border-radius: 0.5vw;
    border-style: solid;
    border-color:  $acme-sc-custom-button-border-color-default;
    color:  $acme-sc-custom-button-color-default;
    font-size: 0.8vw;
}
::ng-deep .ql-tooltip {
    left:0px !important
}
::ng-deep .ql-editing {
    left:0px !important
}
::ng-deep .ql-container{
    height:82% !important
}