<div fxFlexFill fxLayout="column" fxLayoutGap="1vh">
    <div fxFlex="5%" fxFill class="acme-cs-heading">
        <span>Evaluate Assignment</span>
    </div>
    <div fxFlex="7%" fxFill>
        <div fxFlexFill fxLayout="row" fxLayoutGap="1vw">
            <div fxFlex="2%" class="acme-sc-assignment-evaluation-stars" *ngFor="let star of starsArray" (click)="selectStars(star.id)">
                <mat-icon *ngIf="!star.selected" fxLayoutAlign="center center" style="height:100%;width:100%;" class="acme-cs-mat-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 0 24 24" width="100%" fill="darkgray"><path d="M0 0h24v24H0z" fill="none"/><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                    </svg>
                </mat-icon>
                <mat-icon *ngIf="star.selected" fxLayoutAlign="center center" style="height:100%;width:100%;" class="acme-cs-mat-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 0 24 24" width="100%" fill="purple"><path d="M0 0h24v24H0z" fill="none"/><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                    </svg>
                </mat-icon>
            </div>
            <div fxLayoutAlign="center center"  fxFlex="10%" class="acme-sc-assignment-evaluation-mode">
                <span>Action: </span>
            </div>
            <div fxLayoutAlign="center center" (click)="selectAction('Submit')" fxFlex="10%" [ngClass]="Submitselected===true?'acme-sc-submit-item' : 'acme-sc-submit-item-default'">
                <span>Accept</span>
            </div>
            <div fxLayoutAlign="center center" (click)="selectAction('Return')" fxFlex="10%" [ngClass]="returnAssignmentSelected===true?'acme-sc-return-item' : 'acme-sc-return-item-default'">
                <span>Return</span>
            </div>
        </div>
    </div>
    <!--Assignment Editor-->
    <div fxFlex="0 0 77%" fxFill>
        <quill-editor fxFlexFill [(ngModel)]="assignmentContent" [modules]="modules" placeholder="Insert details here ..."
        [required]="true"></quill-editor>
    </div>
    <div fxFlex fxLayoutAlign="end end" fxFill>
        <div fxFlexFill fxLayout="row" fxLayoutGap="0.4vw">
            <div fxFlex fxLayoutAlign="start end" fxFill>
                <button mat-raised-button color="accent" class="acme-sc-assignment-submit-confirm-button"
                    (click)="createUpdateAssignment()" [disabled]="assignmentContent.trim()===''">
                        {{buttonLabel}}
                </button>
            </div>
            <div fxFlex fxLayoutAlign="end end" fxFill>
                <button mat-raised-button color="warn" class="acme-sc-assignment-submit-close-button"
                    (click)="cancelAssignmentSubmission()">
                    Cancel
                </button>
            </div>
        </div>
    </div>
    <mat-progress-bar *ngIf="isProgress" mode="indeterminate"></mat-progress-bar>
</div>