<div fxFlexFill fxLayout="column" fxLayoutGap="1vh" [ngClass]="'dark-theme'">
    <div fxFlex="5vh" fxFill class="acme-cs-heading">
        <span>{{'ROOM_ASSIGNMENT_DIALOG_EVALUATE_ASSIGNMENT_LABEL'|translate}}</span>
    </div>
    <div fxFlex="5vh" fxFill>
        <div fxFlexFill fxLayout="row" fxLayoutGap="1vw">
            <div fxFlex="2vw" class="acme-sc-assignment-evaluation-stars" *ngFor="let star of starsArray" (click)="selectStars(star.id)">
                <mat-icon *ngIf="!star.selected" fxLayoutAlign="center center" style="height:100%;width:100%;">
                    <svg xmlns="http://www.w3.org/2000/svg" height="3vh" viewBox="0 0 24 24" width="2vw" fill="darkgray"><path d="M0 0h24v24H0z" fill="none"/><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                    </svg>
                </mat-icon>
                <mat-icon *ngIf="star.selected" fxLayoutAlign="center center" style="height:100%;width:100%;">
                    <svg xmlns="http://www.w3.org/2000/svg" height="3vh" viewBox="0 0 24 24" width="2vw" fill="darkgoldenrod"><path d="M0 0h24v24H0z" fill="none"/><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                    </svg>
                </mat-icon>
            </div>
            <div fxFlex fxFill>
                <div fxFlexFill fxLayout="row" fxLayoutGap="1vw" fxLayoutAlign="end center">
    
                    <div fxFill fxLayoutAlign="center center" (click)="selectAction('Submit')" fxFlex="5vw" [ngClass]="Submitselected===true?'acme-sc-submit-item' : 'acme-sc-submit-item-default'">
                        <span>{{'ROOM_ASSIGNMENT_DIALOG_EVALUATE_ASSIGNMENT_ACCEPT'|translate}}</span>
                    </div>
                    <div fxFill fxLayoutAlign="center center" (click)="selectAction('Return')" fxFlex="5vw" [ngClass]="returnAssignmentSelected===true?'acme-sc-return-item' : 'acme-sc-return-item-default'">
                        <span>{{'ROOM_ASSIGNMENT_DIALOGE_EVALUATE_ASSIGNMENT_RETURN'|translate}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div fxFlex="7vh" fxFill>
        <div fxFlex fxFill>
            <form [formGroup]="evaluateAssignmentFormGroup" fxFill>
                <div fxFlexFill fxLayout="column">
                      <!--File-->
                      <div fxFlex="9vh">
                        <label for="file-upload" class="acme-form-input-field custom-file-upload">
                            {{'ROOM_ASSIGNMENT_DIALOG_EVALUATE_ASSIGNMENT_FILE'|translate}}
                        </label>
                        <input formControlName="fileControl" id="file-upload" type="file" required
                            class="form-control acme-form-input-field" (change)="onFileChange($event)"
                            accept=".pdf, .doc,.docx, .txt, .ppt, .pptx">
                        <div class="acme-sc-error" *ngIf="f.fileControl.errors?.required">{{'ROOM_ASSIGNMENT_DIALOG_EVALUATE_ASSIGNMENT_FILE_REQUIRED'|translate}}</div>
                        <div class="acme-sc-file-name">{{f.fileSourceControl.value.name}}</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--Assignment Editor-->
    <div fxFlex="46vh" fxFill>
        <quill-editor fxFlexFill [(ngModel)]="assignmentContent" [modules]="modules" placeholder="{{'ROOM_ASSIGNMENT_DIALOG_EVALUATE_ASSIGNMENT_INSERT_DETAILS_LABEL'|translate}}"
        [required]="true"></quill-editor>
    </div>
    <div fxFlex fxLayoutAlign="end end" fxFill>
        <div fxFlexFill fxLayout="column" fxLayoutAlign="end end">
            <div fxFill fxFlex="7vh">
                <div fxFlexFill fxLayout="row" fxLayoutGap="0.4vw">
                    <div fxFlex fxLayoutAlign="start end" fxFill>
                        <button fxFill mat-raised-button color="accent" class="acme-sc-button"
                            (click)="createUpdateAssignment()" [disabled]="assignmentContent.trim()===''">
                                {{buttonLabel}}
                        </button>
                    </div>
                    <div fxFlex fxLayoutAlign="end end" fxFill>
                        <button fxFill mat-raised-button color="warn" class="acme-sc-button acme-sc-assignment-submit-close-button"
                            (click)="cancelAssignmentSubmission()">
                            {{'ROOM_ASSIGNMENT_DIALOG_EVALUATE_ASSIGNMENT_BUTTON_LABEL_CANCEL'|translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
     
    </div>
    <mat-progress-bar *ngIf="isProgress" mode="indeterminate"></mat-progress-bar>
</div>