@import '../../../shared/css/commom.scss';

.UserInfoCircle {
    width: 1.6vw;
    height: 1.6vw;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    background: lightgray;
}

.acme-sc-user-row {
    opacity:0.5
}
