<div fxFlexFill fxLayout="row">
    <!--users types-->
    <div *ngIf="isContentOrRoomOwner" fxFlex="20vw" fxFill>
        <div fxFlexFill fxLayout="column">
            <div fxFlex>
                <acme-sc-room-shared-users-list [roomId]="roomId" (userClicked)="userSelected($event)">

                </acme-sc-room-shared-users-list>
            </div>
            <div class="acme-sc-company-label" fxFlex="5vh" fxLayoutAlign="center center">
                <span>Powered By: <b>Bitstone Infotech</b> </span>
            </div>
        </div>
    </div>
    <!--report card container-->
    <div fxFlex fxFill class="acme-sc-container">
        <div fxFlexFill fxLayout="column" fxLayoutGap="0.4vw">
            <!--main header-->
            <div *ngIf="isContentOrRoomOwner" fxFlex="5vh" fxFill>
                <acme-sc-main-header [userNickName]="nickName" [userFullName]="fullName"
                    [placeHolder]="'Start searching for a user by name'" [dislaySearchBox]="showSearchBox"
                    [title]="assesmentgroup">
                </acme-sc-main-header>
            </div>
            <!--progress-->
            <div *ngIf="isProgress" fxFlex fxLayoutAlign="center center">
                <mat-spinner></mat-spinner>
            </div>
            <!--navigation bar-->
            <div *ngIf="!isProgress" fxFlex="5vh" fxFill>
                <acme-sc-navigation-bar [room]="roomDetailsEntity" [roomType]="roomType"></acme-sc-navigation-bar>
            </div>
            <!--Sever error-->
            <div *ngIf="!isSuccessFull && !isProgress" fxFlex fxFill fxLayoutAlign="center center">
                <div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
                    <div fxFlex="20vh" fxFill fxLayoutAlign="center  center">
                        <svg style="fill:darkorange" xmlns="http://www.w3.org/2000/svg" width="10vw" height="10vh"
                            viewBox="0 0 24 24">
                            <path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" />
                        </svg>
                    </div>
                    <div fxFlex="5vh" fxFill fxLayoutAlign="center center" class="acme-sc-label-default-message">
                        <span>{{roomAssesmentDetailsResponseMessage}}</span>
                    </div>
                </div>
            </div>
            <!--Non Admin users-->
            <div *ngIf="!isSuccessFull && !isProgress && !isContentOrRoomOwner" fxFlex fxFill fxLayoutAlign="center center">
                <div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
                    <div fxFlex="20vh" fxFill fxLayoutAlign="center  center">
                        <svg style="fill:darkorange" xmlns="http://www.w3.org/2000/svg" width="10vw" height="10vh"
                            viewBox="0 0 24 24">
                            <path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" />
                        </svg>
                    </div>
                    <div fxFlex="5vh" fxFill fxLayoutAlign="center center" class="acme-sc-label-default-message">
                        <span>You are not allowed to generate or view report cards, only admins can generate or view report cards.</span>
                    </div>
                </div>
            </div>
            <!--report card data container-->
            <div fxFlex fxFill *ngIf="isSuccessFull && !isProgress && isContentOrRoomOwner">
                <!--empty list-->
                <div *ngIf="userAssesmentsList.length === 0" fxFlexFill fxLayout="column" fxLayoutAlign="center  center"
                    fxLayoutGap="0.4vw">
                    <div fxFlex="20vh" fxFill fxLayoutAlign="center  center" class="acme-cs-navigation-item-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="10vh" viewBox="0 0 24 24" width="10vw"
                            fill="purple">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M19 3h-4.18C14.4 1.84 13.3 1 12 1c-1.3 0-2.4.84-2.82 2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-7 0c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm0 4c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm6 12H6v-1.4c0-2 4-3.1 6-3.1s6 1.1 6 3.1V19z" />
                        </svg>
                    </div>
                    <!--Empty topics message-->
                    <div fxFlex="5vh" fxFill fxLayoutAlign="center center" class="acme-sc-label-default-message">
                        <span>There is no assesments available to generate report card for selected user.</span>
                    </div>
                </div>

                <!--non empty list-->
                <div id="reportCardContainer" #reportCardContainer class="acme-sc-report-card-data-container" *ngIf="userAssesmentsList.length > 0" fxFlexFill
                    fxLayout="column" fxLayoutGap="0.4vw">
                    <!--Report card header-->
                    <div fxFill fxFlex="10vh" class="acme-cs-heading acme-sc-report-card-heading">
                        <div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
                            <div fxFill fxFlex="7vh">
                                <div fxFlexFill fxLayout="row" fxLayoutAlign="center center">
                                    <div fxFill fxFlex="50vw" fxLayoutAlign="center center">
                                        <span>Report Card</span>
                                    </div>
                                </div>
                            </div>
                            <div fxFlex="3vh" fxFill class="acme-sc-report-room-name">
                                <div fxFlexFill fxLayout="row" fxLayoutAlign="center center">
                                    <div fxFill fxFlex="50vw" fxLayoutAlign="center center">
                                        <span>{{roomName}}</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                     <!--Assesment Information and Generate button-->
                    <div fxFill fxFlex="6vh">
                        <div fxFlexFill fxLayout="row" fxLayoutGap="1vw">
                            <!--Assesment Information-->
                            <div fxFlex fxFill>
                                <div fxFlexFill fxLayout="column" fxLayoutGap="1vh">
                                    <div fxFill fxFlex="3vh" class="acme-sc-navigation-side-bar-item-text ">
                                        <span><b>Name:</b> {{selectedUser.userName}}</span>
                                    </div>
                                    <div fxFill fxFlex="3vh" class="acme-sc-navigation-side-bar-item-text ">
                                        <span><b>Term:</b> {{assesmentgroup}}</span>
                                    </div>
                                </div>
                            </div>
                            <!--generate report card button-->
                            <div fxFlex fxFill  fxLayoutAlign="end end">
                                <div fxFlexFill fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="0.4vw">
                                    <div fxFill fxFlex="13vw" fxLayoutAlign="end center">
                                        <button (click)="generateReportCard(selectedUser.userName)" fxFill mat-raised-button color="accent" class="acme-sc-button">Download
                                            Report Card
                                        </button>
                                    </div>
                                    <div fxFill fxFlex="13vw" fxLayoutAlign="end center">
                                        <button (click)="saveReportCard()" fxFill mat-raised-button color="accent" class="acme-sc-button acme-sc-save-report-card-button">
                                            Save Report Card
                                        </button>
                                    </div>
                                </div>
                            </div>
                      
                        </div>
                    </div>
                    <div *ngIf="isSaveProgress" fxFlex="2vh" fxFill>
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </div>
                    <!--assesment Container-->
                    <div fxFill fxFlex class="acme-sc-report-card-assesments-container">
                        <div fxFlexFill fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1vw">
                            <!--assesment Area-->
                            <div fxFill fxFlex>
                                <ng-scrollbar thumbClass="white-scrollbars">
                                    <div fxLayout="column" fxFlexFill fxLayoutGap="0.4vh">
                                        <div fxFill fxFlex="5vh" class="acme-sc-company-title acme-sc-report-card-label-opacity">
                                            <span>Assesment</span>
                                        </div>
                                        <div fxFill fxFlex>
                                            <acme-sc-room-report-card-item
                                                *ngFor="let userAssesment of userAssesmentsList"
                                                [assesmentReportCardItem]="userAssesment">
                                            </acme-sc-room-report-card-item>
                                        </div>
                                    </div>
                                </ng-scrollbar>
                            </div>
                            <!--comments-->
                            <div fxFill fxFlex>
                                <div fxLayout="column" fxFlexFill fxLayoutGap="0.4vh">
                                      <!--Teachers comment-->
                                    <div fxFill fxFlex="5vh" class="acme-sc-company-title"
                                        fxLayoutAlign="center center">
                                        <!--Teachers comment-->
                                        <div fxLayout="Row" fxFlexFill fxLayoutAlign="center center" fxLayoutGap="0.4vw">
                                            <div fxFill fxFlex="10vw" fxLayoutAlign="center center" class="acme-sc-report-card-label-opacity">
                                                <span>Teacher's Remark</span>
                                            </div>
                                            <div (click)="addComment('teacher')" matTooltip="Add teachers remark" fxFill fxFlex="2vw" class="acme-cs-mat-icon-pointer" fxLayoutAlign="center center">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="3vh" viewBox="0 0 24 24" width="3vh" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"/>
                                                </svg>
                                            </div>
                                            <div (click)="RemoveComment('teacher')" matTooltip="Remove remark" fxFill fxFlex="2vw" class="acme-cs-mat-icon-pointer" fxLayoutAlign="center center">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="3vh" viewBox="0 0 24 24" width="3vh" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M7 11v2h10v-2H7zm5-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/>
                                                </svg>
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <div fxFill fxFlex="32vh" class="acme-sc-report-card-teachers-remark">
                                        <quill-view [content]="teachersRemark"></quill-view>
                                     </div>
                                     <!--others comment-->
                                    <div fxFill fxFlex="5vh" class="acme-sc-company-title"
                                        fxLayoutAlign="center center">
                                        <!--others comment-->
                                        <div fxLayout="Row" fxFlexFill fxLayoutAlign="center center" fxLayoutGap="0.4vw">
                                            <div fxFill fxFlex="10vw" fxLayoutAlign="center center" class="acme-sc-report-card-label-opacity">
                                                <span>Other Information</span>
                                            </div>
                                            <div (click)="addComment('other')" matTooltip="Add other information" fxFill fxFlex="2vw" class="acme-cs-mat-icon-pointer" fxLayoutAlign="center center">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="3vh" viewBox="0 0 24 24" width="3vh" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"/>
                                                </svg>
                                            </div>
                                            <div (click)="RemoveComment('other')" matTooltip="Remove remark" fxFill fxFlex="2vw" class="acme-cs-mat-icon-pointer" fxLayoutAlign="center center">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="3vh" viewBox="0 0 24 24" width="3vh" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M7 11v2h10v-2H7zm5-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div fxFill fxFlex="12vh" class="acme-sc-report-card-other-information">
                                        <quill-view [content]="otherInformation"></quill-view>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   </div>
            </div>
        </div>
    </div>