@import '../../../shared/css/commom.scss';

.acme-sc-report-card-label-opacity {
    opacity: 0.7;
}

.acme-sc-save-report-card-button {
    background-color: darkorange !important;
}
.acme-custom-remark {
    font-weight: normal;
}
.acme-sc-report-card-action {
    cursor: pointer;
}
