<div fxLayout="column" class="acme-sc-room-topic-item-container">
    <div fxFlex fxFill>
        <div fxLayout="row" fxFlexFill fxLayoutGap="0.4vw">
            <!--votes and comments section-->
            <div fxFlex="5vw" fxFill>
                <div fxLayout="column" fxFlexFill fxLayoutGap="0.4vw">
                    <div class="acme-sc-room-topic-item" fxFlex fxFill>
                        <acme-sc-room-topic-votes [topic]="topic"></acme-sc-room-topic-votes>
                    </div>
                    <div class="acme-sc-room-topic-item" fxFlex fxFill>
                        <acme-sc-room-topic-views [topic]="topic"></acme-sc-room-topic-views>
                    </div>
                </div>
            </div>

            <!--topic details-->
            <div class="acme-sc-room-topic-item" fxFlex fxFill>
                <div fxFlexFill fxLayout="column" fxLayoutGap="1vh">
                    <div fxFlex="45%" fxFlexFill>
                        <div fxLayout="row" class="acme-sc-room-topic-row" fxLayoutGap="0.4vw">
                            <!--question icon-->
                            <div fxFlex="2vw">
                                <mat-icon fxLayoutAlign="center center" style="height:3vh;width:2vw">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 0 24 24"
                                        width="100%" fill="darkgoldenrod">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path
                                            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                                    </svg>
                                </mat-icon>
                            </div>
                            <!--Topic title-->
                            <div (click)="lauchTopic()" fxFlex fxLayoutAlign="start center" style="cursor:pointer;">
                                <span class="acme-sc-content-link">{{topic.title}}</span>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="10%" fxFlexFill>
                        <div fxLayout="row" fxLayoutGap="0.4vw" fxLayoutAlign="end center"
                            class="acme-sc-room-topic-row">
                            <!--created by-->
                            <div fxFlex="70%" fxLayoutAlign="start center" class="acme-sc-owner-label">
                                <span><b>{{'ROOM_DETAILS_TOPIC_ITEM_CREATED_BY'|translate}}</b>{{topic.ownerFirstName }} {{topic.ownerLastName}}</span>
                            </div>
                            <div fxFlex="30%" fxLayoutAlign="end center" class="acme-sc-date-label">
                                <span><b>{{'ROOM_DETAILS_TOPIC_ITEM_STARTED_ON'|translate}}</b>{{topic.createdAt|date:'medium'}}</span>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="45%" fxFlexFillfxLayoutAlign="start center">
                        <div fxFlexFill fxLayout="row" fxLayoutGap="0.4vw">
                            <div fxFlex="85%" fxLayoutAlign="start center">
                                <mat-chip-list style="padding:0.4vw" #chipList aria-label="Topic tags"
                                    fxLayoutAlign="start center">
                                    <mat-chip [removable]="tagRemove" *ngFor="let tag of topic.tags"
                                        fxLayoutAlign="center center" class="acme-sc-topic-chip">
                                        {{tag}}
                                    </mat-chip>
                                </mat-chip-list>
                            </div>
                            <div *ngIf="isTopicOrRoomOwner" fxFlex="15%">
                                <div fxFlexFill fxLayout="column" fxLayoutAlign="start center">
                                    <div fxFill fxFlex fxLayoutAlign="start center">
                                        <mat-slide-toggle fxFill (change)="updateTopic($event)"
                                            class="acme-sc-room-topic-close-toggle" [color]="closeColor"
                                            [checked]="topicClosed" [disabled]="!topicClosedEnabled">
                                            {{'ROOM_DETAILS_TOPIC_ITEM_STOP_DISCUSSION'|translate}}
                                        </mat-slide-toggle>
                                    </div>
                                    <div fxFlex *ngIf="isProgress">
                                        <mat-progress-bar *ngIf="isProgress" mode="indeterminate"></mat-progress-bar>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
