@import '../../../shared/css/commom.scss';
@import '../../../shared/css/variables.scss';

.acme-sc-room-assesment-group-item-title-container {
    height: 4.5vh;
}

.acme-sc-room-assesment-group-item-row {
    cursor: pointer;
}

.acme-sc-grade-marks {
    font-weight: bold;
    color: $acme-sc-company-label-color;
    font-size: 1vw;
}
