@import '../../../shared/css/commom.scss';
@import '../../../shared/css/variables.scss';

.dark-theme {
    .acme-sc-report-card-item-container {
        background-color: #333333;
        border-radius: 0.4vw;
        padding:0.4vw;
        
    }
    
    .acme-sc-room-report-card-item-color {
        color: white;
        opacity: 1;
    }
}
.light-theme {
    .acme-sc-report-card-item-container {
        background-color: whitesmoke;
        border-radius: 0.4vw;
        padding:0.4vw;
        
    }
    
    .acme-sc-room-report-card-item-color {
        color: darkslateblue;
        opacity: 1;
    }
}

.acme-sc-room-report-card-item-title-container {
    height: 5vh;
}
