.acme-sc-room-library-content-types-container {
    border-width: 0.5px;
    border-right-style: solid;
    background-color:#fafafa;
    border-color: lightgray;
}

.acme-sc-title-heading {
    font-weight: bold;
    font-size:small;
}

.acme-sc-title-label {
    font-size:x-small;
    color:purple;
    font-style: italic;
}

.acme-sc-room-library-content-types-list{
    border-top-style: outset;
    padding:8px;
}
