@import '../../../shared/css/variables.scss';
@import '../../../shared/css/commom.scss';

.acme-cs-login-page {
    background-color: #bdb8b852;
    background-image: url('../../../../../assets/home-page-bg.jpg');
    background-position: center;
    background-size: contain;
    
}

.acme-cs-divider {
    border-bottom-color: gray;
    border-bottom-style: solid;
    opacity: 0.5;
    border-width: 0.3vh;
}

.acme-sc-forget-password-label {
    font-size: 1vw;
}

.acme-sc-or-label {
    font-size: 1vw;
}

