.acme-cs-login-page {
    background-color: #bdb8b852;
    background-image: url('../../../../../assets/home-page-bg.jpg');
    background-position: center;
    background-size: contain;
    
}
.acme-cs-login-box {
    padding:24px;
}
.acme-cs-divider {
    border-bottom-color: gray;
    border-bottom-style: solid;
    opacity: 0.5;
    border-width: 1px;
}

.acme-form-input-field {
    font-size: 1.1vw;
}
.acme-sc-login-button {
    font-size: 1vw;
}

.acme-sc-forget-password-label {
    font-size: 1vw;
}

.acme-sc-or-label {
    font-size: 1vw;
}

