<div fxFlexFill fxLayout="column" class="acme-sc-room-users-container">
    <!--ACME icon-->
    <div fxFlex="15%" fxLayoutAlign="center center">
        <mat-icon fxLayoutAlign="center center" style="height: 50%;width:50%">
            <svg width="100%" height="100%" viewBox="0 0 2941 3738" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M1598.03 96.9975C1551.84 -29.904 1373.01 -31.6868 1324.3 94.2688L807.442 1430.93L628.601 1886.68L10.447 3525.01C-25.1878 3619.45 43.3475 3720.73 144.27 3722.77L829.463 3736.62C870.832 3737.45 910.618 3720.72 938.952 3690.56L1356.89 3245.78C1415.13 3183.8 1513.79 3184.43 1571.23 3247.16L1977.2 3690.47C2004.89 3720.71 2044.01 3737.93 2085.01 3737.93H2794.67C2898.34 3737.93 2969.07 3633 2930.18 3536.9L2262.34 1886.68L2083.49 1430.93L1598.03 96.9975ZM1747.56 2800.69C1813.06 2800.69 1870.57 2844.26 1888.3 2907.32L2060.51 3520.12C2078.24 3583.18 2135.75 3626.76 2201.25 3626.76H2608.53C2711.57 3626.76 2782.27 3523.02 2744.59 3427.12L1743.29 878.354C1721.13 821.922 1666.42 785.032 1605.8 785.627L1311.98 788.507C1252.43 789.091 1199.19 825.739 1177.38 881.155L175.507 3427.04C137.762 3522.95 208.466 3626.76 311.54 3626.76H716.483C782.107 3626.76 839.689 3583.03 857.306 3519.81L1027.9 2907.63C1045.52 2844.42 1103.1 2800.69 1168.73 2800.69H1747.56Z"
                    fill="grey" />
                <path
                    d="M1853.66 1865.5C1570.47 1917.34 1457.31 2001.67 1457.31 2001.67C1457.31 2001.67 1273.64 1895.33 1060.96 1865.5C1060.96 1865.5 1249.96 1779.33 1365.57 1779.33H1549.06C1664.66 1779.33 1853.66 1865.5 1853.66 1865.5Z"
                    fill="deeppink" />
                <path
                    d="M2138.58 1937.06V2566.5C2138.58 2591.67 2118.76 2611.46 2093.53 2611.46C1853.88 2611.46 1663.47 2667.5 1485.08 2787.1H1482.37C1482.37 2788 1481.47 2788.9 1481.47 2788.9C1474.26 2792.49 1467.06 2794.29 1459.85 2794.29C1451.74 2794.29 1443.63 2791.59 1437.33 2787.1H1434.62C1256.23 2667.5 1065.82 2611.46 826.168 2611.46C800.937 2611.46 781.119 2591.67 781.119 2566.5V1937.06C781.119 1911.88 800.937 1892.1 826.168 1892.1C1073.93 1892.1 1272.45 1946.05 1459.85 2063.85C1647.25 1946.05 1845.77 1892.1 2093.53 1892.1C2118.76 1892.1 2138.58 1911.88 2138.58 1937.06Z"
                    fill="deeppink" />
                <path
                    d="M1456.47 1227.99C1275.23 1227.99 1127.79 1373.44 1127.79 1548.52C1127.79 1723.6 1275.23 1866.02 1456.47 1866.02C1637.72 1866.02 1785.15 1723.6 1785.15 1548.52C1785.15 1373.44 1637.72 1227.99 1456.47 1227.99Z"
                    fill="deeppink" />
            </svg>
        </mat-icon>
    </div>
    <!--Acme Title-->
    <div fxFlex="8%" fxLayoutAlign="center start" class="acme-sc-title-heading">
        <div fxFlexFill fxLayout="column">
            <div fxFlex="24px" fxLayoutAlign="center start">
                <span>A.C.M.E. Student Corner</span>
            </div>
            <div fxFlex fxLayoutAlign="center start" class="acme-sc-title-label">
                <span>Acedemic & Co-currical Metrical Evaluation</span>
            </div>
        </div>
    </div>
    <!--User Title>-->
    <div fxFlex="5%">
        <div fxFlexFill fxLayout="row" fxLayoutAlign="center  center">
            <div class="acme-sc-room-user-label" fxFlex="40%" fxLayoutAlign="center center">
                <span>Room users</span>
            </div>
            <div *ngIf="this.isRoomOwner" fxFlex="10%" fxLayoutAlign="center center" (click)="shareRoom()">
                <mat-icon matTooltip="Invite user to join room" fxLayoutAlign="center center"
                    class="acme-cs-mat-icon acme-sc-add-room-user">
                    <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 0 24 24" width="100%"
                        fill="purple">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M15 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm-9-2V7H4v3H1v2h3v3h2v-3h3v-2H6zm9 4c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
                    </svg>
                </mat-icon>
            </div>
            <div fxFlex="15%" fxLayoutAlign="center center" style="padding-left:8px" (click)="refreshUsersList()">
                <mat-icon matTooltip="Refresh users list" fxLayoutAlign="center center"
                    class="acme-cs-mat-icon acme-sc-add-room-user">
                    <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 0 24 24" width="100%"
                        fill="#000000">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z" />
                    </svg>
                </mat-icon>
            </div>
        </div>
    </div>
    <!--progress-->
    <div *ngIf="isProgress" fxFlex fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </div>
    <!--server error-->
    <div *ngIf="!isSuccessFull && !isProgress" fxFlex fxLayoutAlign="center center">
        <div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
            <div fxFlex="100px" fxLayoutAlign="center center">
                <mat-icon fxLayoutAlign="center center" style="height:48px;width:48px;color:darkorange">
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24">
                        <path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" />
                    </svg>
                </mat-icon>
            </div>
            <div fxFlex="24px" fxLayoutAlign="center center">
                <span>Fail to get users list.</span>
            </div>
        </div>
    </div>
    <!--users list (empty list)-->
    <div fxFlex *ngIf="sharedRoomUsersList.length === 0 && isSuccessFull" fxLayoutAlign="center center"
        class="acme-sc-room-users-list">
        <div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
            <div fxFlex="10%" fxLayoutAlign="center center">
                <mat-icon class="acme-cs-mat-icon" fxLayoutAlign="center center" style="height: 100%;width:100%">
                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="100%"
                        viewBox="0 0 24 24" width="100%" fill="purple">
                        <g>
                            <rect fill="none" height="24" width="24" />
                        </g>
                        <g>
                            <g />
                            <g>
                                <path
                                    d="M16.67,13.13C18.04,14.06,19,15.32,19,17v3h4v-3C23,14.82,19.43,13.53,16.67,13.13z" />
                                <path
                                    d="M15,12c2.21,0,4-1.79,4-4c0-2.21-1.79-4-4-4c-0.47,0-0.91,0.1-1.33,0.24C14.5,5.27,15,6.58,15,8s-0.5,2.73-1.33,3.76 C14.09,11.9,14.53,12,15,12z" />
                                <path
                                    d="M9,12c2.21,0,4-1.79,4-4c0-2.21-1.79-4-4-4S5,5.79,5,8C5,10.21,6.79,12,9,12z M9,6c1.1,0,2,0.9,2,2c0,1.1-0.9,2-2,2 S7,9.1,7,8C7,6.9,7.9,6,9,6z" />
                                <path
                                    d="M9,13c-2.67,0-8,1.34-8,4v3h16v-3C17,14.34,11.67,13,9,13z M15,18H3l0-0.99C3.2,16.29,6.3,15,9,15s5.8,1.29,6,2V18z" />
                            </g>
                        </g>
                    </svg>
                </mat-icon>
            </div>
            <div class="acme-sc-room-nouser-label" fxFlex="5%" fxLayoutAlign="center center">
                <span>No users found</span>
            </div>
        </div>
    </div>
    <!--users found-->
    <div fxFlex *ngIf="sharedRoomUsersList.length > 0 && isSuccessFull" fxLayoutAlign="center center"
        class="acme-sc-room-users-list">
        <div fxLayout="column" fxFlexFill fxLayoutGap="0.4vh">
            <ng-scrollbar thumbClass="white-scrollbars">
                <acme-sc-room-user-item *ngFor="let user of sharedRoomUsersList" [user]="user"
                    [canRemoveUser]="isRoomOwner" (roomUserRemoved)="roomUserRemoved($event)">
                </acme-sc-room-user-item>
            </ng-scrollbar>
        </div>
    </div>
</div>
