.acme-sc-room-users-container {
    border-width: 0.5px;
    border-right-style: solid;
    background-color:#fafafa;
    border-color: lightgray;
}

.acme-sc-room-users-list{
    border-top-style: outset;
    padding:0.4vw;
}

.acme-sc-title-heading {
    font-weight: bold;
    font-size:1vw;
}

.acme-sc-room-user-label {
    font-size:1.1vw;
}

.acme-sc-room-nouser-label {
    font-size:1.1vw;
    font-size: normal;
    opacity: 0.5;
}

.acme-sc-title-label {
    font-size:0.66vw;
    color:purple;
    font-style: italic;
}

.acme-sc-add-room-user {
    cursor: pointer;
    opacity : 0.7;
}

::ng-deep {
    ng-scrollbar.virtual-scroll {
      --scrollbar-size: 8px;
      --scrollbar-thumb-color: gray;
      --scrollbar-hover-size: 12px;
      --scrollbar-track-color: rgba(0, 0, 0, 0.05);
      --scrollbar-border-radius: 10px;
  
      margin: 1em;
      height: 200px;
      max-height: 200px;
      border-radius: 6px;
      border: 1px solid gray;
      overflow: hidden;
    }
  }