<div fxFlexFill fxLayout="column" fxLayoutGap="2vh">
    <div fxFlex="13.7vh" fxFill>
        <div fxFlexFill fxLayout="row" fxFill fxLayoutGap="0.4vw">
            <div fxFlex="20vw" fxFill class="acme-sc-custom-company-header">
                <acme-sc-company-header></acme-sc-company-header>
            </div>
            <div fxFlex fxFill>
                <div fxFlexFill fxLayout="column" fxLayoutGap="1vh">
                    <div fxFlex="5vh" fxFill>
                        <acme-sc-main-header [userNickName]="nickName" [userFullName]="fullName" [placeHolder]="''"
                            [title]="assignment.title" [dislaySearchBox]="showSearchBox">
                        </acme-sc-main-header>
                    </div>
                    <div *ngIf="!isProgress && isSuccessFull" fxFlex="7vh">
                        <acme-sc-navigation-bar [room]="roomDetailsEntity" [roomType]="roomType">
                        </acme-sc-navigation-bar>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--assignment file link-->
    <div (click)="GetAssignmentFile()"
        *ngIf="roomStatus !== 'Closed' && !isProgress && assignment.status === 'Active' && assignment.fileName !== 'undefined'"
        fxFlex="5vh" fxFill>
        <div fxFlexFill fxLayout="column">
            <div fxFlex>
                <span
                    class="acme-sc-label-default-message acme-sc-custom-label">{{'ROOM_ASSIGNMENT_SUBMISSION_ASSIGNMENT_FILE'|translate}}
                </span><span class="acme-sc-content-link acme-sc-custom-link">{{assignment.fileName}}</span>
            </div>
            <div *ngIf="isfileDownloadProgress" fxFlex="2vh">
                <mat-progress-bar *ngIf="!isProgress" mode="indeterminate"></mat-progress-bar>
            </div>
        </div>
    </div>
    <!--Progress-->
    <div *ngIf="isProgress" fxFlex fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </div>
    <!--assignment details bar-->
    <div *ngIf="!isProgress && isSuccessFull" fxFlex="5vh" fxFill>
        <div fxFlexFill fxLayout="row" fxLayoutGap="0.4vw">
            <!--status-->
            <div *ngIf="isAssignmentFound" fxFlex="2vw" fxLayoutAlign="start center">
                <mat-icon fxLayoutAlign="center center" class="acme-cs-mat-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="3vh" viewBox="0 0 24 24" width="2vw"
                        fill="darkgreen">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 16.5c-.83 0-1.5-.67-1.5-1.5h3c0 .83-.67 1.5-1.5 1.5zm5-2.5H7v-1l1-1v-2.61C8 9.27 9.03 7.47 11 7v-.5c0-.57.43-1 1-1s1 .43 1 1V7c1.97.47 3 2.28 3 4.39V14l1 1v1z" />
                    </svg>
                </mat-icon>
            </div>
            <div *ngIf="isAssignmentFound" fxFlex="5vw" fxLayoutAlign="start center" class="acme-sc-owner-label">
                <span><B>{{userAssignment.status}}</B></span>
            </div>
            <div *ngIf="isAssignmentFound" fxFlex="20vw" fxLayoutAlign="start center" class="acme-sc-owner-label">
                <span><b>{{'ROOM_ASSIGNMENT_SUBMISSION_SUBMITTED_FILE'|translate}}</b></span><span
                    (click)="GetSubmittedFile()" style="padding-left: 0.4vw;"
                    class="acme-sc-custom-link acme-sc-custom-link-color">{{userAssignment.submittedFileName}}</span>
            </div>
            <!--Revieweed by-->
            <div *ngIf="isAssignmentFound" fxFlex="10vw" fxLayoutAlign="start center" class="acme-sc-owner-label">
                <span><b>{{'ROOM_ASSIGNMENT_SUBMISSION_REVIEWED_BY'|translate}}
                    </b>{{userAssignment.reviewerFirstName}}</span><span>{{userAssignment.reviewerLastName}}</span>
            </div>

            <div *ngIf="isAssignmentFound" fxFlex="10vw" class="acme-sc-assignment-evaluation-stars">
                <div fxFlexFill fxLayout="row" fxLayoutGap="0.4vw">
                    <div fxFlex="2vw" *ngFor="let item of [].constructor(+userAssignment.stars); let i = index">
                        <mat-icon fxLayoutAlign="center center" style="height:100%;width:100%;">
                            <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 0 24 24" width="100%"
                                fill="darkgoldenrod">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path
                                    d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                            </svg>
                        </mat-icon>
                    </div>
                </div>
            </div>

            <!--room not active label-->
            <div fxLayoutAlign="center center"
                *ngIf="(roomStatus === 'Closed' || assignment.status === 'Closed' || assignment.status === 'Expired') && !isProgress && isSuccessFull"
                fxFlex class="acme-sc-room-close-label">
                <svg xmlns="http://www.w3.org/2000/svg" height="3vh" viewBox="0 0 24 24" width="3vw" fill="red">
                    <path d="M12 5.99L19.53 19H4.47L12 5.99M12 2L1 21h22L12 2zm1 14h-2v2h2v-2zm0-6h-2v4h2v-4z" />
                </svg>
                <span>{{'ROOM_ASSIGNMENT_SUBMISSION_ASSIGNMENT_NOT_ACTIVE'|translate}}</span>
            </div>
            <div fxFlex *ngIf="roomStatus !== 'Closed' && assignment.status !== 'Closed' && assignment.status !== 'Expired'
                               && !isProgress && isSuccessFull && isAssignmentFound &&
                               userAssignment.status !=='Reviewed'">
                <div fxFlexFill fxLayout="row" fxLayoutAlign="end center">
                    <div fxFlex="13vw" fxFill>
                        <button fxFill mat-raised-button color="accent" class="acme-sc-button"
                            (click)="turnInAssignment('Edit')">
                            {{'ROOM_ASSIGNMENT_SUBMISSION_ASSIGNMENT_EDIT'|translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--no assigment evaluation found-->
    <div *ngIf="!isAssignmentFound && !isProgress" fxFlex fxFill>
        <div fxFlexFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2vh">
            <!--assignment not submitted icon-->
            <div fxFlex="10vh" fxFill class="acme-cs-navigation-item-icon" fxLayoutAlign="center center">
                <svg xmlns="http://www.w3.org/2000/svg" height="10vh" viewBox="0 0 24 24" width="10vw">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path
                        d="M19 3h-4.18C14.4 1.84 13.3 1 12 1c-1.3 0-2.4.84-2.82 2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-6 15h-2v-2h2v2zm0-4h-2V8h2v6zm-1-9c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1z" />
                </svg>
            </div>
            <div fxFlex="5vh" fxFill fxLayoutAlign="center center" class="acme-sc-label-default-message">
                <span>{{'ROOM_ASSIGNMENT_SUBMISSION_ASSIGNMENT_NOT_SUBMITTED'|translate}}</span>
            </div>
            <!--turn in button-->
            <div *ngIf="assignment.status ==='Active'" fxFlex="7vh" fxFill fxLayoutAlign="center start">
                <div fxLayout="row" fxFlexFill fxLayoutAlign="center start">
                    <div fxFlex="13vw" fxFill fxLayoutAlign="center start">
                        <button fxFill mat-raised-button color="accent" (click)="turnInAssignment('New')"
                            class="acme-sc-button">{{'ROOM_ASSIGNMENT_SUBMISSION_ASSIGNMENT_TURN_IN'|translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--assignment evlauation found-->
    <div *ngIf="isAssignmentFound && !isProgress" fxFlex fxFill>
        <ng-scrollbar thumbClass="white-scrollbars">
            <div style="padding-top:0.4vw">
                <div class="acme-sc-assignment-data-container">
                    <quill-view [content]="userAssignment.submitedData"></quill-view>
                </div>
            </div>
            <div fxFlexFill fxLayout="row">
                <div fxFlex="10vw">
                    <div *ngIf="userAssignment.status === 'Reviewed' || userAssignment.status === 'Returned' ||
                        userAssignment.status === 'Submitted'" class="acme-sc-room-user-assignment-reviewer-remark">
                        <span><b>{{'ROOM_ASSIGNMENT_SUBMISSION_ASSIGNMENT_REVIEWER_REMARK'|translate}}</b></span>
                    </div>
                </div>
                <div fxFlex="15vw">
                    <div *ngIf="userAssignment.status === 'Reviewed' || userAssignment.status === 'Returned' ||
                        userAssignment.status === 'Submitted'" class="acme-sc-room-user-assignment-reviewer-remark">
                        <span><b>{{'ROOM_ASSIGNMENT_SUBMISSION_ASSIGNMENT_LAST_REVIEWED_ON'|translate }}</b>
                        </span><span>{{userAssignment.reviewedAt|date:'mediumDate'}}</span>
                    </div>
                </div>
                <!--Reviewd file-->
                <div *ngIf="isAssignmentFound" fxFlex="20vw" fxLayoutAlign="start center" class="acme-sc-owner-label">
                    <span><b>{{'ROOM_ASSIGNMENT_SUBMISSION_ASSIGNMENT_LAST_REVIEWED_FILE'|translate}}</b></span><span
                        (click)="GetEvaluatedFile()" style="padding-left: 0.4vw;"
                        class="acme-sc-custom-link acme-sc-custom-link-color">{{userAssignment.evaluatedFileName}}</span>
                </div>
            </div>
            <div *ngIf="userAssignment.status === 'Reviewed' || userAssignment.status === 'Returned'
                || userAssignment.status === 'Submitted'" style="padding-top:0.4vw">
                <div class="acme-sc-assignment-data-container">
                    <quill-view [content]="userAssignment.evaluatedData"></quill-view>
                </div>
            </div>
        </ng-scrollbar>
    </div>
</div>