a:active, a:focus {
    outline: 0;
    border: none;
    outline-style: none;
    -moz-outline-style: none;

}

.acme-sc-company-link {
    font-size: 1vw;
}

.acme-sc-close-button{
    font-size:1vw;
    width:100%;
    padding:0.4vw;
    line-height: 0;
}
