<div fxFlexFill fxLayout="column" fxLayoutAlign>
    <div fxFlex="5%" fxLayoutAlign="center start" class="acme-cs-heading">
        <span>Contact Us </span>
    </div>
    <div fxFlex>
        <div fxFlexFill fxLayout="column" fxLayoutGap="0.4vw">
            <!--compmay web site-->
            <div fxFlex="25%" fxFill>
                <div fxFlexFill fxLayout="row" fxLayoutGap="0.4vw">
                    <div fxFlex="10%" fxLayoutAlign="start center">
                        <mat-icon class="acme-cs-mat-icon" style="width:70%;height:70%">
                            <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 0 24 24" width="100%"
                                fill="purple">
                                <path d="M0 0h24v24H0V0z" fill="none" />
                                <path
                                    d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-5.5-2.5l7.51-3.49L17.5 6.5 9.99 9.99 6.5 17.5zm5.5-6.6c.61 0 1.1.49 1.1 1.1s-.49 1.1-1.1 1.1-1.1-.49-1.1-1.1.49-1.1 1.1-1.1z" />
                            </svg>
                        </mat-icon>
                    </div>
                    <div class="acme-sc-company-link" fxFlex fxLayoutAlign="start center">
                        <a href="https://www.bitstoneinfotech.com/" target="_blank"> Bitstone Infotech</a>
                    </div>
                </div>
            </div>
            <!--email-->
            <div fxFlex="25%">
                <div fxFlexFill fxLayout="row" fxLayoutGap="16px">
                    <div fxFlex="32px" fxLayoutAlign="start center">
                        <mat-icon class="acme-cs-mat-icon" style="width:70%;height:70%">
                            <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 0 24 24" width="100%"
                                fill="purple">
                                <path d="M0 0h24v24H0V0z" fill="none" />
                                <path
                                    d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H4V8l8 5 8-5v10zm-8-7L4 6h16l-8 5z" />
                            </svg>
                        </mat-icon>
                    </div>
                    <div class="acme-sc-company-link" fxFlex fxLayoutAlign="start center">
                        <span>info@bitstoneinfotech.com</span>
                    </div>
                </div>
            </div>
            <!--phone no-->
            <div fxFlex="25%">
                <div fxFlexFill fxLayout="row" fxLayoutGap="16px">
                    <div fxFlex="32px" fxLayoutAlign="start center">
                        <mat-icon class="acme-cs-mat-icon"  style="width:70%;height:70%">
                            <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 0 24 24" width="100%"
                                fill="purple">
                                <path d="M0 0h24v24H0V0z" fill="none" />
                                <path
                                    d="M6.54 5c.06.89.21 1.76.45 2.59l-1.2 1.2c-.41-1.2-.67-2.47-.76-3.79h1.51m9.86 12.02c.85.24 1.72.39 2.6.45v1.49c-1.32-.09-2.59-.35-3.8-.75l1.2-1.19M7.5 3H4c-.55 0-1 .45-1 1 0 9.39 7.61 17 17 17 .55 0 1-.45 1-1v-3.49c0-.55-.45-1-1-1-1.24 0-2.45-.2-3.57-.57-.1-.04-.21-.05-.31-.05-.26 0-.51.1-.71.29l-2.2 2.2c-2.83-1.45-5.15-3.76-6.59-6.59l2.2-2.2c.28-.28.36-.67.25-1.02C8.7 6.45 8.5 5.25 8.5 4c0-.55-.45-1-1-1z" />
                            </svg>
                        </mat-icon>
                    </div>
                    <div class="acme-sc-company-link" fxFlex fxLayoutAlign="start center">
                        <span>+91 9886221768 / 6360117914</span>
                    </div>
                </div>
            </div>
            <!--close button-->
            <div fxFlex="25%" fxFill>
                <button class="acme-sc-close-button" fxFill mat-raised-button color="accent" (click)="close()">
                    Close
                </button>
            </div>
        </div>
    </div>