.acme-sc-user-confirmation-close-button {
    background-color: darkorange !important;
    width:100px;
}
.acme-sc-user-confirmation-confirm-button {
    background-color: red !important;
    width:100px;
}
.acme-sc-user-confirmation-message {
    font-size:small
}

.acme-sc-user-confirmation-text {
    font-size:small;
    font-weight: bold;
}