@import '../../../../shared/css/commom.scss';

.acme-sc-user-confirmation-close-button {
    background-color: darkorange !important;
    width:6.5vw;
    font-size: 1vw;
}
.acme-sc-user-confirmation-confirm-button {
    background-color: red !important;
    width:6.5vw;
    font-size: 1vw;
}
