.acme-sc-user-confirmation-close-button {
    background-color: darkorange !important;
    width:100px;
    font-size: 1vw;
}
.acme-sc-user-confirmation-confirm-button {
    background-color: red !important;
    width:6.5vw;
    font-size: 1vw;
}
.acme-sc-user-confirmation-message {
    font-size:0.8vw
}

.acme-sc-user-confirmation-text {
    font-size:0.8vw;
    font-weight: bold;
}