<div fxFlexFill fxLayout="column">
    <div fxFlex="5%" fxLayoutAlign="end end">
        <mat-icon (click)='close($event)' [ngStyle]="{'cursor': 'pointer'}">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24">
                <path
                    d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                <path d="M0 0h24v24H0z" fill="none" />
            </svg>
        </mat-icon>
    </div>
    <div fxFlex="5%" fxLayoutAlign="center" class="acme-cs-heading">
        <span>Create your User Account</span>
    </div>
    <div fxFlex="70%">
        <div fxFlex>
            <form [formGroup]="createAccountFormGroup" fxFill>
                <div fxFlexFill fxLayout="column">
                    <div fxFlex="20%">
                        <!--First Name-->
                        <mat-form-field class="form-field" fxFill>
                            <mat-label class="acme-form-input-field">
                                <mat-icon class="acme-cs-mat-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"
                                        viewBox="0 0 24 24">
                                        <path
                                            d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
                                        <path d="M0 0h24v24H0z" fill="none" />
                                    </svg>
                                </mat-icon>
                                First Name
                            </mat-label>
                            <input class="acme-form-input-field" required matInput placeholder="First Name" formControlName="firstNameControl">

                            <mat-error class="acme-form-input-field" *ngIf="createAccountFormGroup.controls['firstNameControl'].errors?.required ||
                            createAccountFormGroup.controls['firstNameControl'].errors?.whiteSpace">
                                First Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="20%">
                        <!--Last Name-->
                        <mat-form-field class="form-field" fxFill>
                            <mat-label class="acme-form-input-field">Last Name</mat-label>
                            <input class="acme-form-input-field" required matInput placeholder="Last Name" formControlName="lastNameControl">
                            <mat-error class="acme-form-input-field" *ngIf="createAccountFormGroup.controls['lastNameControl'].errors?.required ||
                                createAccountFormGroup.controls['lastNameControl'].errors?.whiteSpace">
                                Last Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="20%">
                        <!--Email-->
                        <mat-form-field class="form-field" fxFill>
                            <mat-label class="acme-form-input-field">
                                <mat-icon class="acme-cs-mat-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"
                                        viewBox="0 0 24 24">
                                        <path
                                            d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z" />
                                        <path d="M0 0h24v24H0z" fill="none" />
                                    </svg>
                                </mat-icon>
                                Email
                            </mat-label>
                            <input class="acme-form-input-field" required matInput placeholder="Email" formControlName="emailControl"
                                autocomplete="off">
                            <mat-error class="acme-form-input-field" *ngIf="createAccountFormGroup.controls['emailControl'].errors?.email">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error class="acme-form-input-field" *ngIf="createAccountFormGroup.controls['emailControl'].errors?.required">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="20%">
                        <!--Password-->
                        <mat-form-field class="form-field" fxFill>
                            <mat-label class="acme-form-input-field">
                                <mat-icon class="acme-cs-mat-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"
                                        viewBox="0 0 24 24">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path
                                            d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z" />
                                    </svg>
                                </mat-icon>
                                Password
                            </mat-label>
                            <input class="acme-form-input-field" required matInput placeholder="Enter your password"
                                [type]="hide ? 'password' : 'text'" formControlName="passwordControl"
                                autocomplete="off">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon class="acme-cs-mat-icon">{{hide ? 'visibility_off' :
                                    'visibility'}}</mat-icon>
                            </button>
                            <mat-error class="acme-form-input-field" *ngIf="createAccountFormGroup.controls['passwordControl'].errors?.required ||
                                createAccountFormGroup.controls['passwordControl'].errors?.whiteSpace">
                                Password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="20%">
                        <!--confirm password-->
                        <mat-form-field class="form-field" fxFill>
                            <mat-label class="acme-form-input-field">
                                <mat-icon class="acme-cs-mat-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"
                                        viewBox="0 0 24 24">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path
                                            d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z" />
                                    </svg>
                                </mat-icon>
                                confirm Password
                            </mat-label>
                            <input class="acme-form-input-field" required matInput placeholder="Retype your password"
                                [type]="hide ? 'password' : 'text'" formControlName="confirmPasswordControl"
                                autocomplete="off">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon class="acme-cs-mat-icon">{{hide ? 'visibility_off' :
                                    'visibility'}}</mat-icon>
                            </button>
                            <mat-error class="acme-form-input-field" *ngIf="createAccountFormGroup.controls['confirmPasswordControl'].errors?.required ||
                                createAccountFormGroup.controls['confirmPasswordControl'].errors?.whiteSpace">
                                Password is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="createAccountFormGroup.controls['passwordControl'].error?.mismatch">
                                Password not <strong>matched</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div fxFlex="10%" fxLayoutAlign="center center" class="acme-sc-term-condition-label">
        <mat-checkbox id="agreementCheckBox" [checked]="agreementCheck" (change)="agreementChange($event)">I agree to
            the terms & conditions</mat-checkbox>
    </div>
    <div fxFlex fxLayoutAlign="end end">
        <div fxFlexFill fxLayout="column" fxLayoutAlign="end end">
            <div fxFill fxFlex>
                <button fxFill mat-raised-button color="accent" class="acme-sc-crea-account-button" (click)="createAccount()" [disabled]="!createAccountFormGroup.controls['emailControl'].valid ||
                !createAccountFormGroup.controls['firstNameControl'].valid ||
                !createAccountFormGroup.controls['lastNameControl'].valid ||
                !createAccountFormGroup.controls['emailControl'].valid ||
                !createAccountFormGroup.controls['passwordControl'].valid ||
                !agreementCheck ||
                !createAccountFormGroup.controls['confirmPasswordControl'].valid ||
                isProgress===true">Sign Up
        
                </button>
            </div>
        </div>
   </div>
    <mat-progress-bar *ngIf="isProgress===true" mode="indeterminate"></mat-progress-bar>
</div>