<div fxFlexFill fxLayout="column">
    <div fxFlex="5vh">
        <div fxFlexFill fxLayout="row" fxLayoutAlign="center center">
            <div class="acme-cs-heading" fxFlex fxFill fxLayoutAlign="center center">
                <span>{{'LOGIN_CREATE_NEW_ACCOUNT_BUTTON_LABEL'|translate}}</span>
            </div>
            <div fxFlex="35vw" style="position: absolute;" fxLayoutAlign="end center">
                <mat-icon (click)='close($event)'class="acme-cs-mat-icon-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg"  width="3vw" height="4vh" viewBox="0 0 24 24">
                        <path
                            d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                        <path d="M0 0h24v24H0z" fill="none" />
                    </svg>
                </mat-icon>
            </div>
       </div>
   </div>
    <div fxFlex="42vh">
        <div fxFlex>
            <form [formGroup]="createAccountFormGroup" fxFill>
                <div fxFlexFill fxLayout="column">
                    <div fxFlex="8vh">
                        <!--First Name-->
                        <mat-form-field class="form-field acme-form-input-field" fxFill>
                            <mat-label class="acme-form-input-field">
                                <mat-icon class="acme-cs-mat-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"
                                        viewBox="0 0 24 24">
                                        <path
                                            d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
                                        <path d="M0 0h24v24H0z" fill="none" />
                                    </svg>
                                </mat-icon>
                                {{'LOGIN_CREATE_ACCOUNT_FIRST_NAME_LABEL'|translate}}
                            </mat-label>
                            <input fxFill class="acme-form-input-field" required matInput placeholder="{{'LOGIN_CREATE_ACCOUNT_FIRST_NAME_LABEL'|translate}}" formControlName="firstNameControl">

                            <mat-error class="acme-form-input-field" *ngIf="createAccountFormGroup.controls['firstNameControl'].errors?.required ||
                            createAccountFormGroup.controls['firstNameControl'].errors?.whiteSpace">
                               {{'LOGIN_CREATE_ACCOUNT_FIRST_NAME_REQUIRED_LABEL'|translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="8vh">
                        <!--Last Name-->
                        <mat-form-field class="form-field  acme-form-input-field" fxFill>
                            <mat-label class="acme-form-input-field">{{'LOGIN_CREATE_ACCOUNT_LAST_NAME_LABEL'|translate}}</mat-label>
                            <input fxFill class="acme-form-input-field" required matInput placeholder="{{'LOGIN_CREATE_ACCOUNT_LAST_NAME_LABEL'|translate}}" formControlName="lastNameControl">
                            <mat-error class="acme-form-input-field" *ngIf="createAccountFormGroup.controls['lastNameControl'].errors?.required ||
                                createAccountFormGroup.controls['lastNameControl'].errors?.whiteSpace">
                                {{'LOGIN_CREATE_ACCOUNT_LAST_NAME_REQUIRED_LABEL'|translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="8vh">
                        <!--Email-->
                        <mat-form-field class="form-field  acme-form-input-field" fxFill>
                            <mat-label class="acme-form-input-field">
                                <mat-icon class="acme-cs-mat-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"
                                        viewBox="0 0 24 24">
                                        <path
                                            d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z" />
                                        <path d="M0 0h24v24H0z" fill="none" />
                                    </svg>
                                </mat-icon>
                                {{'LOGIN_CREATE_ACCOUNT_EMAIL_LABEL'|translate}}
                            </mat-label>
                            <input fxFill class="acme-form-input-field" required matInput placeholder="{{'LOGIN_CREATE_ACCOUNT_EMAIL_LABEL'|translate}}" formControlName="emailControl"
                                autocomplete="off">
                            <mat-error class="acme-form-input-field" *ngIf="createAccountFormGroup.controls['emailControl'].errors?.email">
                               {{'LOGIN_CREATE_ACCOUNT_VALID_EMAIL_ADDRESS_LABEL'|translate}}
                            </mat-error>
                            <mat-error class="acme-form-input-field" *ngIf="createAccountFormGroup.controls['emailControl'].errors?.required">
                                {{'LOGIN_CREATE_ACCOUNT_EMAIL_REQUIRED_LABEL'|translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="8vh">
                        <!--Password-->
                        <mat-form-field class="form-field  acme-form-input-field" fxFill>
                            <mat-label class="acme-form-input-field">
                                <mat-icon class="acme-cs-mat-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"
                                        viewBox="0 0 24 24">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path
                                            d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z" />
                                    </svg>
                                </mat-icon>
                                {{'LOGIN_CREATE_ACCOUNT_PASSWORD_LABEL'|translate}}
                            </mat-label>
                            <input fxFill class="acme-form-input-field" required matInput placeholder="{{'LOGIN_CREATE_ACCOUNT_ENTER_PASSWORD_LABEL'|translate}}"
                                [type]="hide ? 'password' : 'text'" formControlName="passwordControl"
                                autocomplete="off">
                            <mat-error class="acme-form-input-field" *ngIf="createAccountFormGroup.controls['passwordControl'].errors?.required ||
                                createAccountFormGroup.controls['passwordControl'].errors?.whiteSpace">
                                {{'LOGIN_CREATE_ACCOUNT_CONFIRM_PASSWORD_REQUIRED_LABEL'|translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="8vh">
                        <!--confirm password-->
                        <mat-form-field class="form-field  acme-form-input-field" fxFill>
                            <mat-label class="acme-form-input-field">
                                <mat-icon class="acme-cs-mat-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"
                                        viewBox="0 0 24 24">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path
                                            d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z" />
                                    </svg>
                                </mat-icon>
                                {{'LOGIN_CREATE_ACCOUNT_CONFIRM_PASSWORD_LABEL'|translate}}
                            </mat-label>
                            <input fxFill class="acme-form-input-field" required matInput placeholder="Retype your password"
                                [type]="hide ? 'password' : 'text'" formControlName="confirmPasswordControl"
                                autocomplete="off">
                            <mat-error class="acme-form-input-field" *ngIf="createAccountFormGroup.controls['confirmPasswordControl'].errors?.required ||
                                createAccountFormGroup.controls['confirmPasswordControl'].errors?.whiteSpace">
                                {{'LOGIN_CREATE_ACCOUNT_PASSWORD_REQUIRED_LABEL'|translate}}
                            </mat-error>
                            <mat-error *ngIf="createAccountFormGroup.controls['passwordControl'].error?.mismatch">
                               {{'LOGIN_CREATE_ACCOUNT_PASSWORD_NOT_MATCHED'|translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div fxFlex="5vh" fxLayoutAlign="center" class="acme-sc-term-condition-label">
        <mat-checkbox class="acme-form-input-field" id="agreementCheckBox" [checked]="agreementCheck" (change)="agreementChange($event)">
            {{'LOGIN_CREATE_ACCOUNT_TERMS_CONDITION_LABEL'|translate}}
        </mat-checkbox>
    </div>
    <div fxFlex fxLayoutAlign="end end">
        <div fxFlexFill fxLayout="column" fxLayoutAlign="end end">
            <div fxFill fxFlex="7vh">
                <button fxFill mat-raised-button color="accent" class="acme-sc-button" (click)="createAccount()" [disabled]="!createAccountFormGroup.controls['emailControl'].valid ||
                !createAccountFormGroup.controls['firstNameControl'].valid ||
                !createAccountFormGroup.controls['lastNameControl'].valid ||
                !createAccountFormGroup.controls['emailControl'].valid ||
                !createAccountFormGroup.controls['passwordControl'].valid ||
                !agreementCheck ||
                !createAccountFormGroup.controls['confirmPasswordControl'].valid ||
                isProgress===true">{{'LOGIN_CREATE_ACCOUNT_SIGNUP_BUTTON_LABEL'|translate}}
        
                </button>
            </div>
        </div>
   </div>
    <mat-progress-bar *ngIf="isProgress===true" mode="indeterminate"></mat-progress-bar>
</div>
