.acme-sc-resend-activation-email-button{
    background-color: lightgrey;
}

.acme-sc-small-message {
    font-size: 0.8vw;
}

::ng-deep {
    .mat-dialog-container {
        border-radius: 20px !important;
    }
}

.acme-sc-activate-account-button {
    font-size: 1vw;
 }