<div fxFlexFill fxLayout="column" fxLayoutAlign="space-between">
    <div fxFlex="24px" fxLayoutAlign="end end" (click)='close($event)'>
        <mat-icon [ngStyle]="{'cursor': 'pointer'}">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24">
                <path
                    d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                <path d="M0 0h24v24H0z" fill="none" />
            </svg>
        </mat-icon>
    </div>
    <div fxFlex="48px" fxLayoutAlign="center" class="acme-cs-heading">
        <span>Confirm your Email</span>
    </div>

    <div fxFlex fxLayoutAlign="center center" class="acme-sc-small-message">
        <span>Please check your inbox for a confirmation email. Click the link in the email</span>
    </div>
    <div fxFlex fxLayoutAlign="center" class="acme-sc-small-message">
        <span>to confirm your email address</span>
    </div>
    <div fxFlex fxLayoutAlign="center center" class="acme-sc-small-message">
        <span>After you confirm click Login</span>
    </div>
    <div fxFlex ="48px"  fxLayoutAlign="end"  class="acme-cs-heading">
        <div fxFlexFill fxLayout="row" fxLayoutAlign="space-between end" fxLayoutGap=24px>
            <div fxFlex="40%" fxLayoutAlign="start" (click)='close($event)'>
                <button fxFlexFill  mat-raised-button color="accent" >Login</button>
            </div>
            <div fxFlex="60%" fxLayoutAlign="end">
                <button fxFlexFill  mat-raised-button  class="acme-sc-resend-activation-email-button" (click)="resendEmailConfirmation()" [disabled]="isProgress===true" >
                    Re-send activation email
                </button>
                <mat-progress-bar *ngIf="isProgress===true" mode="indeterminate"></mat-progress-bar>
            </div>
        </div>
    </div>
</div>