<div fxFlexFill fxLayout="column" fxLayoutGap="1vh">
    <div fxFlex="5vh">
        <div fxFlexFill fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex class="acme-cs-heading" fxFill fxLayoutAlign="center center">
                <span>{{'ACCOUNT_ACTIVATION_DIALOG_CONFIRM_EMAIL'|translate}}</span>
            </div>
            <div fxFlex="30vw" style="position: absolute;" fxLayoutAlign="end end">
                <mat-icon (click)='close($event)'class="acme-cs-mat-icon-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg"  width="3vw" height="4vh" viewBox="0 0 24 24">
                        <path
                            d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                        <path d="M0 0h24v24H0z" fill="none" />
                    </svg>
                </mat-icon>
            </div>
       </div>
   </div>
    <div fxFlex="2vh" fxFill fxLayoutAlign="center center" class="acme-sc-small-message">
        <span>{{'ACCOUNT_ACTIVATION_DIALOG_CONFIRM_EMAIL_MESSAGE1'|translate}}</span>
    </div>
    <div fxFlex="2vh" fxFill fxLayoutAlign="center" class="acme-sc-small-message">
        <span>{{'ACCOUNT_ACTIVATION_DIALOG_CONFIRM_EMAIL_MESSAGE2'|translate}}</span>
    </div>
    <div fxFlex="3vh" fxFill fxLayoutAlign="center center" class="acme-sc-small-message">
        <span>{{'ACCOUNT_ACTIVATION_DIALOG_CONFIRM_EMAIL_MESSAGE3'|translate}}</span>
    </div>
    <div fxFlex fxFill  fxLayoutAlign="end end">
        <div fxFlexFill fxLayout="column" fxLayoutAlign="end end">
            <div fxFill fxFlex="7vh">
                <div fxFlexFill fxLayout="row" fxLayoutGap="0.4vw">
                    <div fxFlex fxFill (click)='close($event)'>
                        <button fxFill class="acme-sc-button" fxFlexFill  mat-raised-button color="accent" >{{'ACCOUNT_ACTIVATION_LOGIN_BUTTON_LABEL'|translate}}</button>
                    </div>
                    <div fxFlex fxFill fxLayoutAlign="end end">
                        <button fxFill class="acme-sc-button acme-sc-resend-activation-email-button"  fxFlexFill  mat-raised-button (click)="resendEmailConfirmation()" [disabled]="isProgress===true" >
                           {{'ACCOUNT_ACTIVATION_RESEND_EMAIL_BUTTON_LABEL'|translate}}
                        </button>
                    </div>
                </div>
               
            </div>
        </div>
   </div>
    <div *ngIf="isProgress===true" fxFlex>
        <mat-progress-bar *ngIf="isProgress===true" mode="indeterminate"></mat-progress-bar>
    </div>
</div>