/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";

html, body {
    height: 100%;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: auto;
    margin: 0;
}

.acme-cs-mat-card {
    border-radius: 16px !important;
    padding: 0 !important;
}
.acme-cs-mat-icon {
    opacity: 0.5
}

.acme-cs-mat-icon-darker {
    opacity: 0.7
}

.acme-sc-dialog-box {
    padding:16px !important
}

 
.acme-form-input-field {
    font-size: 1.0vw;
}
.mat-raised-button.mat-warn {
    background-color: darkorange !important;
}
