/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";

html, body {
    height: 100%;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: auto;
    margin: 0;
}
.acme-cs-mat-card {
    border-radius: 16px !important;
    padding: 0 !important;
}
.acme-cs-mat-icon {
    opacity: 0.5
}
.acme-cs-heading {
    text-align: center !important;
    font-size: 24px !important;
    font-weight: 400 !important;
}
.acme-sc-dialog-box {
    padding:16px !important
}
.acme-sc-custom-container .mat-dialog-container {
    border-radius: 20px !important;
 }
 .acme-sc-container {
     padding:24px;
 }
.mat-raised-button.mat-warn {
    background-color: darkorange !important;
}
