.acme-sc-company-label {
    font-size: x-small;
    color: purple;
    background-color:#fafafa;
    border-color: lightgray;
    border-width: 0.5px;
    border-right-style: solid;
}

.acme-sc-room-library-details-header{
    font-size: small;
    font-weight: bold;
}

.acme-sc-server-response-message {
    font-size: 1.2vw;
}
