@import '../../../shared/css/commom.scss';

.UserInfoCircle {
    width: 1.6vw;
    height: 1.6vw;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    background: darkgray;
}

.acme-sc-room-user-name {
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}