@import '../../../shared/css/commom.scss';
@import '../../../shared/css/variables.scss';

.local {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 20vw;
    height: 20vh;
    border-radius: 0.3vw;
    overflow: hidden;
    z-index: 1;
}

.remote {
    height: 15vw;
    width: 15vw;
}


.acme-sc-sconference-viewer-container {
    height: 74vh;
    width: 73.9vw;
}

.acme-sc-conference-room-toolbar {
    padding:0;
}

.acme-sc-conference-connecting-label {
    font-size: 1vw;
    font-style: italic;
    color: $acme-sc-company-label-color;
}
::-webkit-scrollbar {
    width: 0.5vw;               /* width of the entire scrollbar */
  }
  
::-webkit-scrollbar-thumb {
    background-color: darkgray;    /* color of the scroll thumb */
    border-radius: 0.4vw;       /* roundness of the scroll thumb */
    border: 0.4vw solid lightgray;  /* creates padding around scroll thumb */
}
