<div fxFlexFill fxLayout="column" fxLayoutGap="0.4vw">
    <div fxFlex="5vh">
        <div fxFlexFill fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex class="acme-cs-heading" fxFill fxLayoutAlign="center center">
                <span>Reset your Password</span>
            </div>
            <div fxFlex="40vw" style="position: absolute;" fxLayoutAlign="end end">
                <mat-icon (click)='close($event)'class="acme-cs-mat-icon-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="3vw" height="4vh" viewBox="0 0 24 24">
                        <path
                            d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                        <path d="M0 0h24v24H0z" fill="none" />
                    </svg>
                </mat-icon>
            </div>
       </div>
        
    </div>
    <div fxFlex="32vh" fxFill>
        <form [formGroup]="accountPasswordResetFormGroup" fxFill>
                <div fxFlexFill fxLayout="column">
                    <!--Email-->
                    <div fxFlex="8vh" fxFill>
                        <div fxFlexFill fxLayout="row" fxLayoutGap="0.4vw">
                            <!--email field-->
                            <div fxFlex="60%" fxFill>
                                <mat-form-field class="form-field acme-form-input-field" fxFill>
                                    <mat-label class="acme-form-input-field">
                                        <mat-icon class="acme-cs-mat-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"
                                                viewBox="0 0 24 24">
                                                <path
                                                    d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z" />
                                                <path d="M0 0h24v24H0z" fill="none" />
                                            </svg>
                                        </mat-icon>
                                        Email
                                    </mat-label>
                                    <input class="acme-form-input-field" required matInput placeholder="Email"
                                        formControlName="emailControl" autocomplete="off">
                                    <mat-error class="acme-form-input-field"
                                        *ngIf="accountPasswordResetFormGroup.controls['emailControl'].errors?.email">
                                        Please enter a valid email address
                                    </mat-error>
                                    <mat-error class="acme-form-input-field"
                                        *ngIf="accountPasswordResetFormGroup.controls['emailControl'].errors?.required">
                                        Email is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <!--generate otp button-->
                            <div fxFlex fxFill fxLayoutAlign="center center">
                                <button class="acme-sc-button acme-custom-otp-button " (click)="generateOTP()" mat-raised-button
                                    color="warn"
                                    [disabled]="!accountPasswordResetFormGroup.controls['emailControl'].valid">
                                    Generate OTP
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--OTP-->
                    <div fxFlex="8vh" fxFill>
                        <mat-form-field class="form-field acme-form-input-field" fxFill>
                            <mat-label class="acme-form-input-field">
                                <mat-icon class="acme-cs-mat-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 0 24 24"
                                        width="100%" fill="#000000">
                                        <path d="M0 0h24v24H0V0z" fill="none" />
                                        <path
                                            d="M22 19h-6v-4h-2.68c-1.14 2.42-3.6 4-6.32 4-3.86 0-7-3.14-7-7s3.14-7 7-7c2.72 0 5.17 1.58 6.32 4H24v6h-2v4zm-4-2h2v-4h2v-2H11.94l-.23-.67C11.01 8.34 9.11 7 7 7c-2.76 0-5 2.24-5 5s2.24 5 5 5c2.11 0 4.01-1.34 4.71-3.33l.23-.67H18v4zM7 15c-1.65 0-3-1.35-3-3s1.35-3 3-3 3 1.35 3 3-1.35 3-3 3zm0-4c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1-.45-1-1-1z" />
                                    </svg>
                                </mat-icon>
                                OTP
                            </mat-label>
                            <input class="acme-form-input-field" matInput required placeholder="One Time Password"
                                formControlName="otpControl">
                            <mat-error class="acme-form-input-field" *ngIf="accountPasswordResetFormGroup.controls['otpControl'].errors?.required ||
                                accountPasswordResetFormGroup.controls['otpControl'].errors?.whiteSpace">
                                OTP is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <!--password-->
                    <div fxFlex="8vh" fxFill>
                          <mat-form-field class="form-field acme-form-input-field" fxFill>
                            <mat-label  class="acme-form-input-field" >
                                <mat-icon class="acme-cs-mat-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"
                                        viewBox="0 0 24 24">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path
                                            d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z" />
                                    </svg>
                                </mat-icon>
                                Password
                            </mat-label>
                            <input  class="acme-form-input-field"  required matInput placeholder="Enter your password"
                                [type]="hide ? 'password' : 'text'" formControlName="passwordControl"
                                autocomplete="off">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon class="acme-cs-mat-icon">{{hide ? 'visibility_off' :
                                    'visibility'}}</mat-icon>
                            </button>
                            <mat-error  class="acme-form-input-field"  *ngIf="accountPasswordResetFormGroup.controls['passwordControl'].errors?.required ||
                                accountPasswordResetFormGroup.controls['passwordControl'].errors?.whiteSpace">
                                Password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <!--confirm password-->
                    <div fxFlex="8vh" fxFill>
                        <mat-form-field class="form-field acme-form-input-field" fxFill>
                            <mat-label class="acme-form-input-field">
                                <mat-icon class="acme-cs-mat-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path
                                            d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z" />
                                    </svg>
                                </mat-icon>
                                Confirm Password
                            </mat-label>
                            <input class="acme-form-input-field" required matInput placeholder="Retype your password" [type]="hide ? 'password' : 'text'"
                                formControlName="confirmPasswordControl" autocomplete="off">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon class="acme-cs-mat-icon">{{hide ? 'visibility_off' :
                                    'visibility'}}</mat-icon>
                            </button>
                            <mat-error class="acme-form-input-field" *ngIf="accountPasswordResetFormGroup.controls['confirmPasswordControl'].errors?.required ||
                                accountPasswordResetFormGroup.controls['confirmPasswordControl'].errors?.whiteSpace">
                                Password is <strong>required</strong>
                            </mat-error>
                            <mat-error class="acme-form-input-field" *ngIf="accountPasswordResetFormGroup.controls['passwordControl'].error?.mismatch">
                                Password not <strong>matched</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </form>
    </div>
    <!--message-->
    <div fxFlex="1vh" fxFill class="acme-sc-account-opt-send-message" fxLayoutAlign="center center">
        <span>{{otpGenerationMessage}}</span>
    </div>
    <div fxFlex fxFill fxLayoutAlign="end end">
        <div fxFlexFill fxLayout="column" fxLayoutAlign="end end">
            <div fxFill fxFlex="7vh">
                <button fxfill class="acme-sc-button" (click)="resetPassword()" mat-raised-button color="accent" fxFill [disabled]="!accountPasswordResetFormGroup.controls['otpControl'].valid ||
                !accountPasswordResetFormGroup.controls['emailControl'].valid ||
                !accountPasswordResetFormGroup.controls['passwordControl'].valid ||
                !accountPasswordResetFormGroup.controls['confirmPasswordControl'].valid ||
                isProgress===true">Reset Password
            </button>
            </div>
        </div>
    </div>
    <mat-progress-bar *ngIf="isProgress===true" mode="indeterminate"></mat-progress-bar>
</div>