@import '../../../shared/css/commom.scss';
@import '../../../shared/css/variables.scss';

.acme-sc-room-assignment-row {
    cursor: pointer;
}

.acme-sc-action-icon {
    cursor: pointer;
}

::ng-deep .ql-editor {
    font-size: 0.8vw !important;
}