.acme-sc-conference-room-users-list-container {
    border-width: 0.5px;
    border-right-style: solid;
    background-color:#fafafa;
    border-color: lightgray;
}


.acme-sc-title-label {
    font-size:0.66vw;
    color:purple;
    font-style: italic;
}

.acme-sc-room-user-label {
    font-size:1.1vw;
}

.acme-sc-title-heading {
    font-weight: bold;
    font-size:1vw;
}

.acme-sc-conference-room-users-list{
    border-top-style: outset;
    padding:0.4vw;
}