@import '../../../shared/css/commom.scss';
.acme-sc-conference-room-users-list-container {
    border-width: 0.03vw;
    border-right-style: solid;
    background-color:#fafafa;
    border-color: lightgray;
}
.acme-sc-conference-room-users-list{
    border-top-style: outset;
    padding:0.4vw;
}