.UserInfoCircle {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    font-size: 1vw;
    margin-right:0.4vw;
    color: #fff;
    text-align: center;
    background:purple;
    cursor:pointer
}
.searchBox {
    border-style: solid;
    border-width: 0.1vw;
    border-radius: 0.4vw;
}

.searchBoxLabel {
    font-size: 1.08vw;
}
.searchInput {
    border-style: none;
    font-size: 1.08vw;
}
:host ::ng-deep .mat-form-field-label {
    font-size: 1.08vw;
}
textarea:focus, input:focus{
    outline: none;
}

.acme-sc-logout-text {
    font-size: small;
    font-weight: bold;
    opacity: 0.7;
    cursor: pointer;
}

.acme-sc-title {
    font-size: 1.6vW;
    opacity: 0.7;
    border-bottom-color: darkgoldenrod;
    border-bottom-style: solid;
}

.acme-form-input-field {
    font-size: 1.0vw;
}

.acme-sc-search-form {
    //height:100%;
    width:97%;
}

/*::ng-deep .mat-form-field-infix {
   border-top: 0 !important;
}*/

/*::ng-deep .mat-form-field-underline {
    display: none;
}*/
