@import '../../../shared/css/commom.scss';
@import '../../../shared/css/variables.scss';
.UserInfoCircle {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    font-size: 1vw;
    margin-right:0.4vw;
    color: #fff;
    text-align: center;
    background:purple;
    cursor:pointer
}
.dark-theme {
    .searchBox {
        border-style: solid;
        border-width: 0.15vw;
        border-radius: 0.4vw;
        border-color: gray;
        background-color: $acme-sc-secondary-background-dark;
        
    }
    .searchInput {
        border-style: none;
        font-size: 1vw;
        background-color: $acme-sc-secondary-background-dark;
        color: $acme-sc-text-color-dark;
        opacity: 0.7;
    }
    ::placeholder { /* Most modern browsers support this now. */
        color: $acme-sc-text-color-dark;
        opacity: 0.7;
    }
    textarea:focus, input:focus{
        outline: none;
        caret-color: $acme-sc-text-color-dark;
    }
    .acme-sc-title {
        font-size: 1.6vW;
        opacity: 0.7;
        color: $acme-sc-text-color-dark;
        border-bottom-color: darkgoldenrod;
        border-bottom-style: solid;
    }
}

.light-theme {
    .searchBox {
        border-style: solid;
        border-width: 0.15vw;
        border-radius: 0.4vw;
        border-color: darkgray;
    }
    .searchInput {
        border-style: none;
        font-size: 1vw;
        background-color: $acme-sc-secondary-background-light;
        color: $acme-sc-text-color-light;
        opacity: 0.7;
    }
    ::placeholder { /* Most modern browsers support this now. */
        color: $acme-sc-text-color-light;
        opacity: 0.7;
    }
    textarea:focus, input:focus{
        outline: none;
        caret-color: $acme-sc-text-color-light;
    }
    .acme-sc-title {
        font-size: 1.6vW;
        opacity: 0.7;
        border-bottom-color: darkgoldenrod;
        border-bottom-style: solid;
    }
}

:host ::ng-deep .mat-form-field-label {
    font-size: 1.08vw;
}


.acme-sc-logout-text {
    font-size: small;
    font-weight: bold;
    opacity: 0.7;
    cursor: pointer;
}



/*::ng-deep .mat-form-field-infix {
   border-top: 0 !important;
}*/

/*::ng-deep .mat-form-field-underline {
    display: none;
}*/
