@import '../../../shared/css/commom.scss';
@import '../../../shared/css/variables.scss';
.UserInfoCircle {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    font-size: 1vw;
    color: #fff;
    text-align: center;
    background:purple;
    cursor:pointer
}

:host ::ng-deep .mat-form-field-label {
    font-size: 1.08vw;
}


.acme-sc-logout-text {
    font-size: small;
    font-weight: bold;
    opacity: 0.7;
    cursor: pointer;
}



/*::ng-deep .mat-form-field-infix {
   border-top: 0 !important;
}*/

/*::ng-deep .mat-form-field-underline {
    display: none;
}*/
