.acme-sc-content-upload-close-button {
    background-color: darkorange !important;
    font-size:1vw;
    padding:0.4vw;
    line-height: 0;
}
.acme-sc-content-upload-confirm-button {
    font-size:1vw;
    padding:0.4vw;
    line-height: 0;
}
.acme-sc-file-error {
    margin-top:4px;
    font-size: x-small;
    color:red;
}

.acme-sc-library-content-chip {
    padding-left:8px;
}

.acme-form-input-field {
    font-size: 1.0vw;
}


.acme-sc-library-content-chip-close-icon {
    padding-left: 4px;;
}

.acme-sc-library-content-tags-message {
    font-size: small;
    font-style: italic;
    opacity: 0.7;
}
.acme-sc-mat-label {
    opacity: 0.5;
    font-size:small
}